#u3141
{
	background-color: transparent;
	position: relative;
}

#u3141:hover
{
	background-color: #FBB03B;
}

#u3141:active
{
	background-color: #6B6B6B;
}

#u3144-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3101
{
	background-color: transparent;
	position: relative;
}

#u3101:hover
{
	background-color: #FBB03B;
}

#u3101:active
{
	background-color: #6B6B6B;
}

#u3103-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3104
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u3101:hover #u3104
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3101:active #u3104
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3108
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3108:hover
{
	background-color: #FBB03B;
}

#u3115
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3115:hover
{
	background-color: #FBB03B;
}

#u3059
{
	background-color: transparent;
	position: relative;
}

#u3059:hover
{
	background-color: #FBB03B;
}

#u3059:active
{
	background-color: #6B6B6B;
}

#u3061-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3062
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u3101.MuseMenuActive #u3104,#u3059:hover #u3062
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3059:active #u3062
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3059.MuseMenuActive #u3062
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3080
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3080:hover
{
	background-color: #FBB03B;
}

#u3110-4,#u3082-4
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3066
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3066:hover
{
	background-color: #FBB03B;
}

#u3075
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3075:hover
{
	background-color: #FBB03B;
}

#u3108.MuseMenuActive,#u3115.MuseMenuActive,#u3080.MuseMenuActive,#u3066.MuseMenuActive,#u3075.MuseMenuActive
{
	background-color: #666666;
}

#u3118-4,#u3068-4,#u3076-4
{
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3124
{
	background-color: transparent;
	position: relative;
}

#u3124:hover
{
	background-color: #FBB03B;
}

#u3124:active
{
	background-color: #6B6B6B;
}

#u3126-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3087
{
	background-color: transparent;
	position: relative;
}

#u3087:hover
{
	background-color: #FBB03B;
}

#u3087:active
{
	background-color: #6B6B6B;
}

#u3090-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3094
{
	background-color: transparent;
	position: relative;
}

#u3094:hover
{
	background-color: #FBB03B;
}

#u3094:active
{
	background-color: #6B6B6B;
}

#u3141.MuseMenuActive,#u3101.MuseMenuActive,#u3059.MuseMenuActive,#u3124.MuseMenuActive,#u3087.MuseMenuActive,#u3094.MuseMenuActive
{
	background-color: #000000;
}

#u3096-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3141.MuseMenuActive #u3144-4 p,#u3101.MuseMenuActive #u3103-4 p,#u3059.MuseMenuActive #u3061-4 p,#u3124.MuseMenuActive #u3126-4 p,#u3087.MuseMenuActive #u3090-4 p,#u3094.MuseMenuActive #u3096-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu3057,#u3140,#u3100,#u3106,#u3107,#u3114,#u3058,#u3064,#u3079,#u3065,#u3072,#u3121,#u3086,#u3093,#u3054
{
	position: relative;
}

#u3056
{
	vertical-align: top;
	position: relative;
	background: url("../images/u3056.png") no-repeat 0px 0px;
}

.hidpi #u3056
{
	background-image: url("../images/u3056_2x.png");
	background-size: 961px 2px;
}

#u3222-4
{
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3221
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/1965517_688900714466745_166852069_o.jpg") no-repeat left top;
	background-size: cover;
}

#u3224-4,#u3225-4
{
	font-size: 66px;
	line-height: 79px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3232-4
{
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u3223-4,#u3220-33
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3223,#u3220,#u3220-28
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u3048
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

