#u3031
{
	background-color: transparent;
	position: relative;
}

#u3031:hover
{
	background-color: #FBB03B;
}

#u3031:active
{
	background-color: #6B6B6B;
}

#u3033-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2998
{
	background-color: transparent;
	position: relative;
}

#u2998:hover
{
	background-color: #FBB03B;
}

#u2998:active
{
	background-color: #6B6B6B;
}

#u2999-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3001
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2998:hover #u3001
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2998:active #u3001
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u3012
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3012:hover
{
	background-color: #FBB03B;
}

#u3007
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u3007:hover
{
	background-color: #FBB03B;
}

#u2970
{
	background-color: transparent;
	position: relative;
}

#u2970:hover
{
	background-color: #FBB03B;
}

#u2970:active
{
	background-color: #6B6B6B;
}

#u2973-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2971
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2998.MuseMenuActive #u3001,#u2970:hover #u2971
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2970:active #u2971
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2970.MuseMenuActive #u2971
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2977
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u2977:hover
{
	background-color: #FBB03B;
}

#u3015-4,#u2978-4
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2986
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u2986:hover
{
	background-color: #FBB03B;
}

#u2991
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u2991:hover
{
	background-color: #FBB03B;
}

#u3012.MuseMenuActive,#u3007.MuseMenuActive,#u2977.MuseMenuActive,#u2986.MuseMenuActive,#u2991.MuseMenuActive
{
	background-color: #666666;
}

#u3009-4,#u2989-4,#u2994-4
{
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2956
{
	background-color: transparent;
	position: relative;
}

#u2956:hover
{
	background-color: #FBB03B;
}

#u2956:active
{
	background-color: #6B6B6B;
}

#u2959-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3038
{
	background-color: transparent;
	position: relative;
}

#u3038:hover
{
	background-color: #FBB03B;
}

#u3038:active
{
	background-color: #6B6B6B;
}

#u3039-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2965
{
	background-color: transparent;
	position: relative;
}

#u2965:hover
{
	background-color: #FBB03B;
}

#u2965:active
{
	background-color: #6B6B6B;
}

#u3031.MuseMenuActive,#u2998.MuseMenuActive,#u2970.MuseMenuActive,#u2956.MuseMenuActive,#u3038.MuseMenuActive,#u2965.MuseMenuActive
{
	background-color: #000000;
}

#u2966-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3031.MuseMenuActive #u3033-4 p,#u2998.MuseMenuActive #u2999-4 p,#u2970.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u3038.MuseMenuActive #u3039-4 p,#u2965.MuseMenuActive #u2966-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu2954,#u3030,#u2997,#u3003,#u3011,#u3004,#u2969,#u2975,#u2976,#u2983,#u2990,#u2955,#u3037,#u2962,#u2641,#u3162
{
	position: relative;
}

#u3165
{
	border-style: none;
	border-color: transparent;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u3166-4
{
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3169
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/842872_513011325389019_1229542586_o.jpg") no-repeat left top;
	background-size: cover;
}

#u3172
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/1973560_688900554466761_426036276_o.jpg") no-repeat left top;
	background-size: cover;
}

#u3173
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/1540465_688900737800076_543670180_o.jpg") no-repeat left top;
	background-size: cover;
}

#u3168-4
{
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3167-31
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3167,#u3167-28
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u2652
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

