.version.seminary_faculty /* version checker */
{
	color: #000019;
	background-color: #554311;
}

.html
{
	background: #FFFFFF url("../images/hom-sabbia.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../images/hom-sabbia_2x.jpg");
	background-size: 300px 300px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1205px;
	-pie-box-shadow: 0px 0px 10px #7F7F7F;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
}

#menuu2954
{
	z-index: 4;
	width: 423px;
	margin-left: 537px;
}

#u3030
{
	width: 60px;
	min-height: 40px;
	margin-right: -10000px;
}

#u3031
{
	width: 60px;
	padding-bottom: 23px;
}

#u3031:hover
{
	margin: 0px;
}

#u3031:active
{
	margin: 0px;
}

#u3033-4
{
	width: 42px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 9px;
}

#u3031:hover #u3033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3031:active #u3033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2997
{
	width: 82px;
	min-height: 40px;
	margin-right: -10000px;
	left: 62px;
}

#u2998
{
	width: 82px;
	padding-bottom: 23px;
}

#u3031.MuseMenuActive,#u2998:hover
{
	margin: 0px;
}

#u2998:active
{
	margin: 0px;
}

#u2999-4
{
	width: 51px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3031.MuseMenuActive #u3033-4,#u2998:hover #u2999-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2998:active #u2999-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3001
{
	z-index: 17;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 59px;
}

#u2998:hover #u3001
{
	margin: 0px -10000px 0px 0px;
}

#u2998:active #u3001
{
	margin: 0px -10000px 0px 0px;
}

#u3002
{
	width: 143px;
	top: 40px;
}

#u3012
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2998.MuseMenuActive #u3001,#u3012:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3015-4
{
	width: 102px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u3003,#u3011,#u3004
{
	width: 143px;
}

#u3007
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3012.MuseMenuActive,#u3007:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3009-4
{
	width: 119px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2969
{
	width: 95px;
	min-height: 40px;
	margin-right: -10000px;
	left: 146px;
}

#u2970
{
	width: 95px;
	padding-bottom: 23px;
}

#u2998.MuseMenuActive,#u2970:hover
{
	margin: 0px;
}

#u2970:active
{
	margin: 0px;
}

#u2973-4
{
	width: 64px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2998.MuseMenuActive #u2999-4,#u2970:hover #u2973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2970:active #u2973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2971
{
	z-index: 38;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 72px;
}

#u3007.MuseMenuActive,#u2970:hover #u2971
{
	margin: 0px -10000px 0px 0px;
}

#u2970:active #u2971
{
	margin: 0px -10000px 0px 0px;
}

#u2974
{
	width: 162px;
	top: 40px;
}

#u2977
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2970.MuseMenuActive #u2971,#u2977:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2978-4
{
	width: 116px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u2986
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2977.MuseMenuActive,#u2986:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2989-4
{
	width: 133px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u2975,#u2976,#u2983,#u2990
{
	width: 162px;
}

#u2991
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2986.MuseMenuActive,#u2991:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2991.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2994-4
{
	width: 132px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u2955
{
	width: 58px;
	min-height: 40px;
	margin-right: -10000px;
	left: 243px;
}

#u2956
{
	width: 58px;
	padding-bottom: 23px;
}

#u2970.MuseMenuActive,#u2956:hover
{
	margin: 0px;
}

#u2956:active
{
	margin: 0px;
}

#u2959-4
{
	width: 41px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2970.MuseMenuActive #u2973-4,#u2956:hover #u2959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2956:active #u2959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3037
{
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
	left: 303px;
}

#u3038
{
	width: 48px;
	padding-bottom: 23px;
}

#u2956.MuseMenuActive,#u3038:hover
{
	margin: 0px;
}

#u3038:active
{
	margin: 0px;
}

#u3039-4
{
	width: 31px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2956.MuseMenuActive #u2959-4,#u3038:hover #u3039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3038:active #u3039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2962
{
	width: 70px;
	min-height: 40px;
	margin-right: -10000px;
	left: 353px;
}

#u2965
{
	width: 70px;
	padding-bottom: 23px;
}

#u3038.MuseMenuActive,#u2965:hover
{
	margin: 0px;
}

#u2965:active
{
	margin: 0px;
}

#u2965.MuseMenuActive
{
	margin: 0px;
}

#u2966-4
{
	width: 53px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3038.MuseMenuActive #u3039-4,#u2965:hover #u2966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2965:active #u2966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2965.MuseMenuActive #u2966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2641
{
	z-index: 2;
	width: 486px;
	margin-left: 21px;
	margin-top: 20px;
}

#pu3162
{
	width: 0.01px;
	margin-top: 16px;
}

#u3162
{
	z-index: 77;
	width: 960px;
	margin-right: -10000px;
}

#u3165
{
	z-index: 79;
	width: 960px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 145px;
}

#u3166-4
{
	z-index: 80;
	width: 912px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 24px;
}

#ppu3169
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 38px;
}

#pu3169
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u3169
{
	z-index: 119;
	width: 204px;
	height: 146px;
}

#u3172
{
	z-index: 120;
	width: 204px;
	height: 146px;
	margin-top: 20px;
}

#u3173
{
	z-index: 121;
	width: 204px;
	height: 146px;
	margin-top: 21px;
}

#pu3168-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 231px;
}

#u3168-4
{
	z-index: 115;
	width: 681px;
	min-height: 34px;
}

#u3167-31
{
	z-index: 84;
	width: 681px;
	min-height: 230px;
	margin-top: 14px;
}

#u2652
{
	z-index: 122;
	width: 959px;
	height: 59px;
	margin-top: 52px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 40px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

