body {
    background-image: url(/Media/Images/page_background_cbs_red.jpg); 
}

#page-center {
    background: url(/Media/Images/content_border_red.jpg) repeat-y;
}

#page-header {
    background: url(/Media/Images/page_header_csb_red.jpg) no-repeat; 
}

#page-footer {
    background: url(/Media/Images/page_footer_csb_red.jpg) no-repeat;
}
