.version.article /* version checker */
{
	color: #0000FD;
	background-color: #AEDA5C;
}

.html
{
	background: #FFFFFF url("../images/hom-sabbia.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../images/hom-sabbia_2x.jpg");
	background-size: 300px 300px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1466px;
	-pie-box-shadow: 0px 0px 10px #7F7F7F;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
}

#menuu3057
{
	z-index: 5;
	width: 423px;
	margin-left: 537px;
}

#u3140
{
	width: 60px;
	min-height: 40px;
	margin-right: -10000px;
}

#u3141
{
	width: 60px;
	padding-bottom: 23px;
}

#u3141:hover
{
	margin: 0px;
}

#u3141:active
{
	margin: 0px;
}

#u3144-4
{
	width: 42px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 9px;
}

#u3141:hover #u3144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3141:active #u3144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3100
{
	width: 82px;
	min-height: 40px;
	margin-right: -10000px;
	left: 62px;
}

#u3101
{
	width: 82px;
	padding-bottom: 23px;
}

#u3141.MuseMenuActive,#u3101:hover
{
	margin: 0px;
}

#u3101:active
{
	margin: 0px;
}

#u3103-4
{
	width: 51px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3141.MuseMenuActive #u3144-4,#u3101:hover #u3103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3101:active #u3103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3104
{
	z-index: 18;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 59px;
}

#u3101:hover #u3104
{
	margin: 0px -10000px 0px 0px;
}

#u3101:active #u3104
{
	margin: 0px -10000px 0px 0px;
}

#u3105
{
	width: 143px;
	top: 40px;
}

#u3108
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3101.MuseMenuActive #u3104,#u3108:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3110-4
{
	width: 102px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u3106,#u3107,#u3114
{
	width: 143px;
}

#u3115
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3108.MuseMenuActive,#u3115:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3118-4
{
	width: 119px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u3058
{
	width: 95px;
	min-height: 40px;
	margin-right: -10000px;
	left: 146px;
}

#u3059
{
	width: 95px;
	padding-bottom: 23px;
}

#u3101.MuseMenuActive,#u3059:hover
{
	margin: 0px;
}

#u3059:active
{
	margin: 0px;
}

#u3061-4
{
	width: 64px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3101.MuseMenuActive #u3103-4,#u3059:hover #u3061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3059:active #u3061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3062
{
	z-index: 39;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 72px;
}

#u3115.MuseMenuActive,#u3059:hover #u3062
{
	margin: 0px -10000px 0px 0px;
}

#u3059:active #u3062
{
	margin: 0px -10000px 0px 0px;
}

#u3063
{
	width: 162px;
	top: 40px;
}

#u3080
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3059.MuseMenuActive #u3062,#u3080:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3082-4
{
	width: 116px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u3066
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3080.MuseMenuActive,#u3066:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3068-4
{
	width: 133px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u3064,#u3079,#u3065,#u3072
{
	width: 162px;
}

#u3075
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u3066.MuseMenuActive,#u3075:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3075.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u3076-4
{
	width: 132px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u3121
{
	width: 58px;
	min-height: 40px;
	margin-right: -10000px;
	left: 243px;
}

#u3124
{
	width: 58px;
	padding-bottom: 23px;
}

#u3059.MuseMenuActive,#u3124:hover
{
	margin: 0px;
}

#u3124:active
{
	margin: 0px;
}

#u3126-4
{
	width: 41px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3059.MuseMenuActive #u3061-4,#u3124:hover #u3126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3124:active #u3126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3086
{
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
	left: 303px;
}

#u3087
{
	width: 48px;
	padding-bottom: 23px;
}

#u3124.MuseMenuActive,#u3087:hover
{
	margin: 0px;
}

#u3087:active
{
	margin: 0px;
}

#u3090-4
{
	width: 31px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3124.MuseMenuActive #u3126-4,#u3087:hover #u3090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3087:active #u3090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3093
{
	width: 70px;
	min-height: 40px;
	margin-right: -10000px;
	left: 353px;
}

#u3094
{
	width: 70px;
	padding-bottom: 23px;
}

#u3087.MuseMenuActive,#u3094:hover
{
	margin: 0px;
}

#u3094:active
{
	margin: 0px;
}

#u3094.MuseMenuActive
{
	margin: 0px;
}

#u3096-4
{
	width: 53px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u3087.MuseMenuActive #u3090-4,#u3094:hover #u3096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3094:active #u3096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3094.MuseMenuActive #u3096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3054
{
	z-index: 2;
	width: 486px;
	margin-left: 21px;
	margin-top: 20px;
}

#u3056
{
	z-index: 4;
	width: 961px;
	height: 2px;
	margin-top: 16px;
}

#pu3222-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 67px;
}

#u3222-4
{
	z-index: 112;
	width: 604px;
	min-height: 42px;
	margin-right: -10000px;
}

#u3223-4
{
	z-index: 116;
	width: 200px;
	margin-right: -10000px;
	margin-top: 33px;
}

#pu3224-4
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 14px;
}

#u3224-4
{
	z-index: 120;
	width: 60px;
	min-height: 107px;
	margin-right: -10000px;
	margin-top: 99px;
}

#u3221
{
	z-index: 111;
	width: 603px;
	height: 268px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 112px;
}

#u3225-4
{
	z-index: 124;
	width: 60px;
	min-height: 107px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 790px;
}

#u3232-4
{
	z-index: 128;
	width: 604px;
	min-height: 38px;
	margin-left: 178px;
	margin-top: 7px;
}

#u3220-33
{
	z-index: 78;
	width: 604px;
	min-height: 278px;
	margin-left: 178px;
	margin-top: 20px;
}

#u3048
{
	z-index: 132;
	width: 959px;
	height: 59px;
	margin-top: 30px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 40px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

