.Headline
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.Bullet-Paragraph,.Caption-Style,.Head-2,.Paragraph-Style-2
{
	font-family: open-sans-n4, sans-serif;
}

#u4304.PamphletThumbSelected #u4305-4 p,#u4314.PamphletThumbSelected #u4315-4 p,#u4305-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4315-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4309-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4313-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4307-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3222-4,#u3224-4,#u3225-4
{
	font-family: open-sans-n7, sans-serif;
}

#u4285-4,#u4301-4,#u4294-4,#u3223-4,#u3232-4,#u3220-32,#u5006-4,#u5007-2,#u5008-5,#u5009-2
{
	font-family: open-sans-n4, sans-serif;
}

#u4311,#u4283-4,#u4287-12,#u4284-10,#u4302-4,#u4298-11,#u4300-8,#u4296-4,#u4292-11,#u4293-12,#u5007-7,#u5007-12,#u5007-17,#u5007-22,#u5007-27,#u5007-32,#u5007-37,#u5008-4,#u5008-7,#u5008-9,#u5009-4,#u5009-6,#u5009-8,#u5009-10
{
	font-family: open-sans-n3, sans-serif;
}

