<appSettings>
    <add key="FeedbackEmail.Recipient" value="barry.nelson@csbs.ca" />
    <add key="FeedbackEmail.Sender" value="no-reply@csbs.ca" />
    <add key="FeedbackEmail.Subject" value="Web Site Submission" />
    <add key="EmailEnabled" value="true" />
    <add key="Menu.ContactFormsXml" value="~/App_Data/Menus/contact-forms.xml" />
    <add key="Menu.GlobalNavigationXml" value="~/App_Data/Menus/globalnav.xml" />
    <add key="Menu.SeminaryLink.MenuPathTemplate" value="~/App_Data/Menus/seminarylink-{0}.xml" />
    <add key="Blog.ArticlesListFile" value="~/App_Data/Blog/blog.xml" />
    <add key="Blog.ArticlesPath" value="~/App_Data/Blog/Articles" />
    <add key="Pages.InfoFile" value="~/App_Data/pages/pages.xml" />
    <add key="Pages.PagesPath" value="~/App_Data/pages/html/" />
    <add key="Pages.System.PageNotFound" value="~/pages/csbs/sys/page-not-found.html" />
    <add key="Pages.System.Maintenance" value="~/pages/csbs/sys/page-maintenance.html" />
    <add key="Menu.XmlFile" value="~/App_Data/menus/menu.xml" />
    <add key="Menu.ContactFormsXml" value="~/App_Data/Menus/contact-forms.xml" />
    <add key="HtmlEditor.Downloads.Images" value="~/Media/Images" />
    <add key="HtmlEditor.Downloads.Documents" value="~/Media/Documents" />
    <add key="HtmlEditor.Downloads.Flash" value="~/Media/Flash" />
    <add key="HtmlEditor.Downloads.Media" value="~/Media/Videos" />
    <add key="HtmlEditor.Downloads.Templates" value="~/Media/Templates" />
    <add key="Forms.ContactUs.MenuItems" value="seminarylink.contact-form.default;" />
    <add key="Forms.ContactUs.UrlTemplate" value="~/contact-{0}.html" />
    <add key="Forms.Articles.IndexPageUrl" value="~/articles/" />
    <add key="Services.ProcessImage.ImagesPath" value="~/" />
    <add key="Services.ProcessImage.ProcessedImagesPath" value="~/Media/Images/processed/" />
    <add key="LinkNames.ChapelOnline" value="Online Chapel Services" />
</appSettings>