#u2167-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2156-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2724-4,#u2738-4,#u2206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2744-4,#u2755-4,#u2946-4,#u2197-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2172-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2189-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2084-2,#u2087-4,#u2092-5,#u2096-3,#u2312-4,#u2314-4,#u2316-4,#u2318-4,#u2320-4,#u2322-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2286-6,#u2290-6,#u2294-8,#u2325-4,#u2324-4,#u2280-4,#u2281-4,#u2282-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2556-2,#u2556-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2083-8,#u2287-4,#u2288-6,#u2291-4,#u2295-4,#u2331-6,#u2332-6,#u2335-4,#u2313-4,#u2315-4,#u2317-4,#u2319-4,#u2321-4,#u2323-4,#u2337-4,#u2537-4,#u2552-2,#u2553-5,#u2554-2
{
	font-family: open-sans-n4, sans-serif;
}

#u2084-6,#u2083-11,#u2087-7,#u2088-6,#u2092-8,#u2093-4,#u2096-6,#u2097-4,#u2556-7,#u2552-4,#u2552-6,#u2552-8,#u2552-10,#u2552-12,#u2552-14,#u2552-16,#u2553-4,#u2553-7,#u2553-9,#u2554-4,#u2554-6,#u2554-8,#u2554-10
{
	font-family: open-sans-n3, sans-serif;
}

