.version.article_page /* version checker */
{
	color: #000008;
	background-color: #DF82D3;
}

.html
{
	background: #FFFFFF url("../images/texturetastic_gray_%402x.jpg") repeat left top fixed;
}

.hidpi.html
{
	background-image: url("../images/texturetastic_gray_%402x_2x.jpg");
	background-size: 476px 476px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1797px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu3054
{
	width: 0.01px;
	margin-left: 21px;
}

#u3054
{
	z-index: 75;
	width: 486px;
	margin-right: -10000px;
}

#u3054_img
{
	padding-right: 1px;
}

#u3849
{
	z-index: 131;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 766px;
}

#u3849_clip
{
	width: 30px;
	height: 30px;
}

#u3849_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3853
{
	z-index: 135;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 805px;
}

#u3851
{
	z-index: 133;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 845px;
}

#u3855
{
	z-index: 137;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 885px;
}

#pu3816
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u3816,#u3816-bw
{
	z-index: 130;
	height: 40px;
}

#pamphletu4276
{
	z-index: 139;
	width: 0.01px;
	height: 31px;
	padding-bottom: 169px;
	margin-right: -10000px;
	left: 100px;
}

#u4303
{
	z-index: 140;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u4304
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u4304:hover
{
	margin: 0px;
}

#u4305-4
{
	z-index: 142;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u4304:hover #u4305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u4314
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u4304.PamphletThumbSelected,#u4314:hover
{
	margin: 0px;
}

#u4315-4
{
	z-index: 147;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u4314:hover #u4315-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u4308
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 193px;
}

#u4314.PamphletThumbSelected,#u4308:hover
{
	margin: 0px;
}

#u4309-4
{
	z-index: 152;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u4314.PamphletThumbSelected #u4315-4,#u4308:hover #u4309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u4312
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u4308.PamphletThumbSelected,#u4312:hover
{
	margin: 0px;
}

#u4313-4
{
	z-index: 157;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u4308.PamphletThumbSelected #u4309-4,#u4312:hover #u4313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u4312.PamphletThumbSelected #u4313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u4306
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u4312.PamphletThumbSelected,#u4306:hover
{
	margin: 0px;
}

#u4307-4
{
	z-index: 162;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u4304.PamphletThumbSelected #u4305-4,#u4306:hover #u4307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u4310
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u4306.PamphletThumbSelected,#u4310:hover
{
	margin: 0px;
}

#u4310.PamphletThumbSelected
{
	margin: 0px;
}

#u4311-5
{
	z-index: 167;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u4306.PamphletThumbSelected #u4307-4,#u4310:hover #u4311-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u4310.PamphletThumbSelected #u4311-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u4281popup
{
	z-index: 172;
}

#u4281
{
	width: 960px;
	top: 39px;
}

#u4288
{
	z-index: 173;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#u4282
{
	z-index: 174;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#pu4283-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 178px;
}

#u4283-4
{
	z-index: 197;
	width: 219px;
	min-height: 88px;
}

#u4286-3
{
	z-index: 201;
	width: 127px;
	min-height: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u4285-4
{
	z-index: 204;
	width: 120px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u4287-12
{
	z-index: 175;
	width: 253px;
	min-height: 104px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 464px;
}

#u4284-10
{
	z-index: 187;
	width: 218px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 717px;
}

#u4297
{
	z-index: 208;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#pu4302-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 178px;
}

#u4302-4
{
	z-index: 228;
	width: 219px;
	min-height: 88px;
}

#pu4286-3,#pu4299-3
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -1px;
}

#u4299-3
{
	z-index: 232;
	width: 127px;
	min-height: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u4301-4
{
	z-index: 235;
	width: 120px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u4298-11
{
	z-index: 209;
	width: 253px;
	min-height: 104px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 464px;
}

#u4300-8
{
	z-index: 220;
	width: 218px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 717px;
}

#u4291
{
	z-index: 239;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#pu4296-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 366px;
}

#u4296-4
{
	z-index: 263;
	width: 219px;
	min-height: 88px;
	margin-left: 1px;
}

#pu4295-3
{
	width: 0.01px;
	margin-top: -3px;
}

#u4295-3
{
	z-index: 267;
	width: 127px;
	min-height: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u4294-4
{
	z-index: 270;
	width: 120px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u4292-11
{
	z-index: 240;
	width: 142px;
	min-height: 104px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 640px;
}

#u4293-12
{
	z-index: 251;
	width: 141px;
	min-height: 129px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 794px;
}

#u4290
{
	z-index: 274;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#u4289
{
	z-index: 275;
	width: 960px;
	height: 161px;
	margin-right: -10000px;
}

#u3222-4
{
	z-index: 110;
	width: 604px;
	min-height: 38px;
	margin-left: 178px;
	top: -138px;
	margin-bottom: -38px;
}

#u3223-4
{
	z-index: 114;
	width: 604px;
	margin-left: 178px;
	top: -99px;
	margin-bottom: -19px;
}

#pu3224-4
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: -68px;
}

#u3224-4
{
	z-index: 118;
	width: 60px;
	min-height: 107px;
	margin-right: -10000px;
	margin-top: 99px;
}

#u3221
{
	z-index: 109;
	width: 604px;
	height: 269px;
	margin-right: -10000px;
	left: 112px;
}

#u3225-4
{
	z-index: 122;
	width: 60px;
	min-height: 107px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 790px;
}

#u3232-4
{
	z-index: 126;
	width: 604px;
	min-height: 38px;
	margin-left: 178px;
	margin-top: 11px;
}

#u3220-32
{
	z-index: 77;
	width: 604px;
	min-height: 992px;
	margin-left: 178px;
	margin-top: 43px;
}

#pu4999
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 18px;
}

#u4999,#u4999-bw
{
	z-index: 2;
	height: 218px;
}

#u5000
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 124px;
}

#u5002
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 251px;
}

#u5004
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 175px;
}

#u5006-4
{
	z-index: 9;
	width: 218px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 124px;
}

#u5007-39
{
	z-index: 13;
	width: 288px;
	min-height: 158px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 404px;
}

#u5008-11
{
	z-index: 52;
	width: 295px;
	min-height: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 728px;
}

#u5009-12
{
	z-index: 63;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 118px;
	left: 728px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

