.version.ccs /* version checker */
{
	color: #0000EC;
	background-color: #2B5358;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.990406026422px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	width: 0.01px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 156;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 158;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 160;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 163;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 162;
	height: 40px;
}

#pamphletu8086
{
	z-index: 165;
	width: 0.01px;
	height: 32px;
	padding-bottom: 288px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 166;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8097-4
{
	z-index: 168;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 13px -10000px 0px 0px;
}

#u8096.PamphletThumbSelected #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8103-4
{
	z-index: 173;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8098:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u8098.PamphletThumbSelected
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u8099-4
{
	z-index: 178;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 101px;
	margin: 13px -10000px 0px 0px;
}

#u8098.PamphletThumbSelected #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 101px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8092:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u8092.PamphletThumbSelected
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u8093-4
{
	z-index: 183;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 80px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 80px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8100:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u8100.PamphletThumbSelected
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u8101-4
{
	z-index: 188;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77px;
	margin: 12px -10000px 0px 0px;
}

#u8100.PamphletThumbSelected #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8102.PamphletThumbSelected,#u8094:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8095-5
{
	z-index: 193;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 198;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 199;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 247;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 52px;
}

#pu11194
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 190px;
	margin-left: 287px;
}

#u11194
{
	z-index: 287;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	left: 2px;
}

#u11195-4
{
	z-index: 288;
	width: 36px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#pu8120-35
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 332px;
}

#u8120-35
{
	z-index: 200;
	width: 253px;
	min-height: 145px;
}

#u11189-8
{
	z-index: 279;
	width: 235px;
	min-height: 66px;
	margin-top: 10px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 616px;
}

#u9519
{
	z-index: 254;
	width: 82px;
	height: 9px;
}

#u11185-24
{
	z-index: 255;
	width: 235px;
	min-height: 145px;
	margin-left: 24px;
	margin-top: 16px;
}

#u8121-12
{
	z-index: 235;
	width: 235px;
	min-height: 66px;
	margin-left: 24px;
	margin-top: 16px;
}

#u8117
{
	z-index: 292;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 293;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 322;
	width: 219px;
	min-height: 227px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 57px;
}

#pu11192
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 203px;
	margin-left: 288px;
}

#u11192
{
	z-index: 373;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	left: 2px;
}

#u11193-4
{
	z-index: 374;
	width: 36px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#pu9517
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 332px;
}

#u9517
{
	z-index: 328;
	width: 82px;
	height: 9px;
	margin-left: 189px;
}

#u8114-28
{
	z-index: 294;
	width: 253px;
	min-height: 163px;
	margin-top: 19px;
}

#u11188-8
{
	z-index: 365;
	width: 253px;
	min-height: 66px;
	margin-top: 8px;
}

#pu11187-24
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 640px;
}

#u11187-24
{
	z-index: 341;
	width: 235px;
	min-height: 166px;
}

#u11186-12
{
	z-index: 329;
	width: 235px;
	min-height: 66px;
	margin-top: 7px;
}

#u8106
{
	z-index: 378;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 415;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 101px;
}

#u8112-6
{
	z-index: 416;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 422;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 265px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 423;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-22
{
	z-index: 379;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 429;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 401;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 430;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 431;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#pu7991
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -281px;
}

#u7991,#u7991-bw
{
	z-index: 147;
	height: 280px;
}

#u7992
{
	z-index: 148;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
	left: 100px;
}

#u8362
{
	z-index: 149;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u8363
{
	z-index: 150;
	width: 960px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/dsc_0627.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u8363
{
	background-image: url("../images/dsc_0627_2x.jpg");
}

#u8364
{
	z-index: 151;
	width: 277px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 23px;
}

#u8365-4
{
	z-index: 152;
	width: 237px;
	min-height: 44px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#ppu6485
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 4px;
}

#pu6485
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u6485
{
	z-index: 127;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6490
{
	z-index: 128;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	padding-bottom: 2px;
	position: relative;
}

#u6490:hover
{
	background-color: #000000;
	width: 276px;
	min-height: 0px;
	margin: 0px;
}

#u6489-4
{
	z-index: 129;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u6491
{
	z-index: 138;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	padding-bottom: 3px;
	margin-top: 9px;
	position: relative;
}

#u6487-4
{
	z-index: 139;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -1px;
}

#u6488
{
	z-index: 133;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	padding-bottom: 2px;
	margin-top: 9px;
	position: relative;
}

#u6491:hover,#u6488:hover
{
	background-color: #000000;
	width: 276px;
	min-height: 0px;
	margin: 9px 0px 0px;
}

#u6486-4
{
	z-index: 134;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	line-height: 19px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u6489-2,#u6487-2,#u6486-2
{
	padding-bottom: 10px;
}

#u6484-4
{
	z-index: 143;
	width: 276px;
	min-height: 118px;
	background-color: transparent;
	line-height: 14px;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#pu6479-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 309px;
}

#u6479-5
{
	z-index: 122;
	width: 604px;
	min-height: 46px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	position: relative;
}

#u6479-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6479
{
	line-height: 41px;
}

#u6479-2
{
	font-size: 18px;
	line-height: 22px;
}

#u6480-29
{
	z-index: 92;
	width: 604px;
	min-height: 483px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 14px;
	position: relative;
}

#u6480-5,#u6480-18,#u6480-26,#u6480-27
{
	font-weight: 700;
}

#u6482
{
	z-index: 121;
	width: 600px;
	min-height: 781px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 21px;
	position: relative;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

