.version.college_roadmap /* version checker */
{
	color: #000009;
	background-color: #B9BE53;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.9500000000012px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 294;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 296;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 298;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 301;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 300;
	height: 40px;
}

#pamphletu8086
{
	z-index: 303;
	width: 0.01px;
	height: 31px;
	padding-bottom: 239px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 304;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 306;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 311;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 316;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 321;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 326;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 331;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 336;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 337;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 405;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 443px;
}

#u9519
{
	z-index: 412;
	width: 82px;
	height: 9px;
	margin-left: 173px;
}

#u8120-33
{
	z-index: 338;
	width: 253px;
	min-height: 145px;
	margin-top: 9px;
}

#u8121-34
{
	z-index: 371;
	width: 235px;
	min-height: 199px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 717px;
}

#u8117
{
	z-index: 413;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 414;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 471;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 451px;
}

#u9517
{
	z-index: 477;
	width: 82px;
	height: 9px;
	margin-left: 70px;
}

#u8114-22
{
	z-index: 415;
	width: 253px;
	min-height: 135px;
	margin-top: 27px;
}

#u8115-34
{
	z-index: 437;
	width: 218px;
	min-height: 167px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 717px;
}

#u8106
{
	z-index: 478;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 507;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 508;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 514;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 515;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 479;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 521;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 493;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 522;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 523;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#pu7991
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -232px;
}

#u7991,#u7991-bw
{
	z-index: 285;
	height: 280px;
}

#u7992
{
	z-index: 286;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
	left: 100px;
}

#u9393
{
	z-index: 287;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u9395
{
	z-index: 288;
	width: 960px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/dsc_0627.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u9395
{
	background-image: url("../images/dsc_0627_2x.jpg");
}

#u9394
{
	z-index: 289;
	width: 277px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 23px;
}

#u9396-4
{
	z-index: 290;
	width: 237px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#pu9357
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 1px;
}

#u9357
{
	z-index: 92;
	width: 277px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	background: #CBC8C8 url("../images/texturetastic_gray.jpg") repeat left top;
}

.hidpi #u9357
{
	background-image: url("../images/texturetastic_gray_2x.jpg");
	background-size: 238px 238px;
}

#u9354-80
{
	z-index: 205;
	width: 264px;
	min-height: 428px;
	background-color: transparent;
	font-size: 14px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u9354-4
{
	color: #7F7F7F;
}

#u9354-2,#u9354-31,#u9354-33
{
	color: #000000;
	font-weight: 700;
}

#u9354-5,#u9354-10,#u9354-15,#u9354-20,#u9354-25,#u9354-30,#u9354-38,#u9354-42,#u9354-52,#u9354-58,#u9354-63,#u9354-68,#u9354-73,#u9354-78
{
	color: #000000;
}

#u9354-34,#u9354-47,#u9354-48,#u9354-53,#u9354-54,#u9354-59,#u9354-64,#u9354-69,#u9354-74
{
	color: #F7931E;
}

#pu9358-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 309px;
}

#u9358-4
{
	z-index: 201;
	width: 604px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u9356-4
{
	z-index: 170;
	width: 604px;
	min-height: 53px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 24px;
	position: relative;
}

#u9352-23
{
	z-index: 174;
	width: 539px;
	min-height: 162px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 65px;
	margin-top: 4px;
	position: relative;
}

#u9352-2
{
	font-weight: 700;
	font-style: italic;
}

#u9352-10,#u9352-13,#u9352-16
{
	font-weight: 700;
}

#u9353-4
{
	z-index: 197;
	width: 604px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 11px;
	position: relative;
}

#u9355-77
{
	z-index: 93;
	width: 604px;
	min-height: 438px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u9355-2,#u9355-27,#u9355-54,#u9355-63,#u9355-69
{
	line-height: 29px;
}

#u9355-3,#u9355-5,#u9355-6,#u9355-8,#u9355-10,#u9355-12,#u9355-14,#u9355-16,#u9355-18,#u9355-20,#u9355-22,#u9355-24,#u9355-25,#u9355-28,#u9355-30,#u9355-31,#u9355-33,#u9355-35,#u9355-37,#u9355-39,#u9355-41,#u9355-43,#u9355-45,#u9355-47,#u9355-49,#u9355-51,#u9355-52,#u9355-55,#u9355-57,#u9355-58,#u9355-60,#u9355-61,#u9355-64,#u9355-66,#u9355-67,#u9355-70,#u9355-72,#u9355-73
{
	line-height: 19px;
}

#u9355-75
{
	line-height: 14px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

