.version.history /* version checker */
{
	color: #0000FB;
	background-color: #8DF8C5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1406px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 271;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 273;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 275;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 278;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 277;
	height: 40px;
}

#pamphletu8086
{
	z-index: 280;
	width: 0.01px;
	height: 32px;
	padding-bottom: 204px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 281;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 283;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 288;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 293;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 298;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 303;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 308;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 313;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 314;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 378;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u9519
{
	z-index: 385;
	width: 82px;
	height: 9px;
	margin-left: 152px;
}

#u8120-33
{
	z-index: 315;
	width: 253px;
	min-height: 145px;
	margin-top: 19px;
}

#u8121-30
{
	z-index: 348;
	width: 218px;
	min-height: 127px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 717px;
}

#u8117
{
	z-index: 386;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 387;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 440;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9519,#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 464px;
}

#u9517
{
	z-index: 446;
	width: 82px;
	height: 9px;
	margin-left: 57px;
}

#u8114-22
{
	z-index: 388;
	width: 253px;
	min-height: 104px;
	margin-top: 19px;
}

#u8115-30
{
	z-index: 410;
	width: 218px;
	min-height: 148px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 717px;
}

#u8106
{
	z-index: 447;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 480;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 481;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 487;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 488;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 448;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 494;
	width: 82px;
	height: 9px;
}

#u8111-18
{
	z-index: 462;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 495;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 496;
	width: 960px;
	height: 196px;
	margin-right: -10000px;
}

#ppu7992
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -197px;
}

#pu7992
{
	z-index: 269;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 100px;
}

#u7992
{
	z-index: 0;
	width: 960px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6728
{
	width: 0.01px;
	position: relative;
	z-index: 2;
	padding-bottom: 2px;
}

#u6728
{
	z-index: 270;
	width: 960px;
	height: 278px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/promomovie%20-%2006.jpg") no-repeat center center;
	background-size: cover;
}

#u7991,#u7991-bw
{
	z-index: 268;
	height: 280px;
}

#a1
{
	margin-left: 298px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u6790-36
{
	z-index: 232;
	width: 912px;
	min-height: 30px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	margin-left: 24px;
	margin-top: 7px;
	position: relative;
}

#ppu6737
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 5px;
}

#pu6737
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u6737
{
	z-index: 226;
	width: 264px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #CBC8C8 url("../images/csbs_history_01-u6737-fr.jpg") no-repeat right center;
	background-size: cover;
}

#u6745
{
	z-index: 228;
	width: 264px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-top: 15px;
	position: relative;
	background: #CBC8C8 url("../images/csbs_history_02-u6745-fr.jpg") no-repeat right center;
	background-size: cover;
}

#u6744
{
	z-index: 227;
	width: 264px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-top: 14px;
	position: relative;
	background: #CBC8C8 url("../images/csbs_history_01-u6737-fr.jpg") no-repeat left center;
	background-size: cover;
}

.hidpi #u6737,.hidpi #u6744
{
	background-image: url("../images/csbs_history_01-u6737-fr_2x.jpg");
}

#u6752
{
	z-index: 229;
	width: 264px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-top: 15px;
	position: relative;
	background: #CBC8C8 url("../images/csbs_history_02-u6745-fr.jpg") no-repeat left center;
	background-size: cover;
}

.hidpi #u6745,.hidpi #u6752
{
	background-image: url("../images/csbs_history_02-u6745-fr_2x.jpg");
}

#u6753
{
	z-index: 230;
	width: 264px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	margin-top: 14px;
	position: relative;
	background: #CBC8C8 url("../images/promomovie%20-%2006-u6753-fr.jpg") no-repeat right center;
	background-size: cover;
}

.hidpi #u6753
{
	background-image: url("../images/promomovie%20-%2006-u6753-fr_2x.jpg");
}

#pa2
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1989px;
	margin-left: 267px;
}

#a2
{
	margin-left: 10px;
	position: relative;
}

#u6786
{
	z-index: 220;
	width: 30px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#a3
{
	margin-left: 10px;
	margin-top: 299px;
	position: relative;
}

#u6783
{
	z-index: 218;
	width: 30px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 23px;
	position: relative;
}

#a4
{
	margin-left: 10px;
	margin-top: 242px;
	position: relative;
}

#u6780
{
	z-index: 216;
	width: 30px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#a5
{
	margin-left: 10px;
	margin-top: 151px;
	position: relative;
}

#u6777
{
	z-index: 214;
	width: 30px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#a6
{
	margin-left: 10px;
	margin-top: 679px;
	position: relative;
}

#u6774
{
	z-index: 212;
	width: 30px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#a7
{
	margin-left: 10px;
	margin-top: 338px;
	position: relative;
}

#u6771
{
	z-index: 210;
	width: 30px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#a8
{
	margin-left: 10px;
	margin-top: 167px;
	position: relative;
}

#u6765
{
	z-index: 208;
	width: 30px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#pu6735-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 308px;
}

#u6735-4
{
	z-index: 222;
	width: 604px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u6736-109
{
	z-index: 92;
	width: 603px;
	min-height: 4193px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u6736-47,#u6736-59,#u6736-68,#u6736-74,#u6736-86,#u6736-92,#u6736-98
{
	font-size: 24px;
	line-height: 29px;
}

#u6736-2,#u6736-3,#u6736-5,#u6736-6,#u6736-8,#u6736-9,#u6736-11,#u6736-12,#u6736-14,#u6736-15,#u6736-17,#u6736-18,#u6736-20,#u6736-21,#u6736-23,#u6736-24,#u6736-26,#u6736-27,#u6736-29,#u6736-30,#u6736-32,#u6736-33,#u6736-35,#u6736-36,#u6736-38,#u6736-39,#u6736-41,#u6736-42,#u6736-44,#u6736-45,#u6736-48,#u6736-50,#u6736-51,#u6736-53,#u6736-54,#u6736-56,#u6736-57,#u6736-60,#u6736-62,#u6736-63,#u6736-65,#u6736-66,#u6736-69,#u6736-71,#u6736-72,#u6736-75,#u6736-77,#u6736-78,#u6736-80,#u6736-81,#u6736-83,#u6736-84,#u6736-87,#u6736-89,#u6736-90,#u6736-93,#u6736-95,#u6736-96,#u6736-99,#u6736-101,#u6736-102,#u6736-104,#u6736-105,#u6736-107
{
	line-height: 19px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

