.Headline
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.Bullet-Paragraph,.Caption-Style,.Head-2,.Paragraph-Style-2,.Paragraph-Style-1,.Paragraph-Style-3
{
	font-family: open-sans-n4, sans-serif;
}

#u8412-4,#u8404-2,#u8405-5,#u8411-2
{
	font-family: open-sans-n4, sans-serif;
}

#u8404-7,#u8404-12,#u8404-17,#u8404-22,#u8404-27,#u8404-32,#u8404-37,#u8405-4,#u8405-7,#u8405-9,#u8411-4,#u8411-6,#u8411-8,#u8411-13
{
	font-family: open-sans-n3, sans-serif;
}

#u11265-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11263-4,#u11265-2,#u11265-6
{
	font-family: open-sans-n4, sans-serif;
}

