.Headline
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.Bullet-Paragraph,.Caption-Style,.Head-2,.Paragraph-Style-2
{
	font-family: open-sans-n4, sans-serif;
}

#u8102.PamphletThumbSelected #u8103-4 p,#u8098.PamphletThumbSelected #u8099-4 p,#u8097-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8103-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8099-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8093-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8101-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5020-4,#u5021-2,#u5022-8,#u5023-2
{
	font-family: open-sans-n4, sans-serif;
}

#u8095,#u8119-7,#u8120-33,#u8121-30,#u8116-6,#u8114-22,#u8115-30,#u8110-14,#u8111-22,#u5021-7,#u5021-12,#u5021-17,#u5021-22,#u5021-27,#u5021-32,#u5021-37,#u5022-4,#u5022-5,#u5022-13,#u5022-18,#u5022-23,#u5023-4,#u5023-6,#u5023-8,#u5023-13
{
	font-family: open-sans-n3, sans-serif;
}

#u8343-4,#u6351-4,#u6349-4,#u6346-4
{
	font-family: open-sans-n3, sans-serif;
}

