.Headline
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.Bullet-Paragraph,.Caption-Style,.Head-2,.Paragraph-Style-2,.Paragraph-Style-1,.Paragraph-Style-3
{
	font-family: open-sans-n4, sans-serif;
}

#u8170-4,#u8172-4,#u8174-4,#u8176-4,#u8178-4,#u8180-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8783.PamphletThumbSelected #u8784-4 p,#u8263-4,#u8258-5,#u8194-4,#u8171-4,#u8260-21,#u8173-4,#u8175-4,#u8177-4,#u8179-4,#u8181-4,#u8183-4,#u8283-4,#u8637-6,#u8804-7,#u8802-5,#u8797-2,#u8797-4,#u8796-5,#u8825-2,#u8825-4,#u8824-5,#u8811-2,#u8811-4,#u8809-5,#u8816-2,#u8816-5,#u8821-5,#u8784-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8788-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8786-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8782-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8790-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9600-6
{
	font-family: open-sans-n3, sans-serif;
}

#u8258-2,#u8182-4,#u8191-4,#u8199-4,#u8200-4,#u8201-4,#u9597-5,#u9599-5,#u9595-7
{
	font-family: open-sans-n7, sans-serif;
}

#u9007-6,#u9004-6,#u9537-6,#u9538-6,#u9541-3,#u9541-5,#u9542-3,#u9542-5,#u9543-8,#u9544-3,#u9544-5,#u9545-3,#u9545-5,#u9598-6,#u9592-6
{
	font-family: open-sans-n4, sans-serif;
}

