.Headline
{
	font-family: open-sans-n7, sans-serif;
}

.Paragraph-Style,.Bullet-Paragraph,.Caption-Style,.Head-2,.Paragraph-Style-2,.Paragraph-Style-1,.Paragraph-Style-3
{
	font-family: open-sans-n4, sans-serif;
}

#u8098.PamphletThumbSelected #u8099-4 p,#u8102.PamphletThumbSelected #u8103-4 p,#u8097-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8103-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8099-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8093-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8101-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11195-4,#u11193-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5020-4,#u5021-2,#u5022-8,#u5023-2
{
	font-family: open-sans-n4, sans-serif;
}

#u8095,#u8119-7,#u8120-35,#u11189-8,#u11185-2,#u11185-3,#u11185-7,#u11185-11,#u11185-15,#u11185-22,#u8121-2,#u8121-6,#u8121-10,#u8116-6,#u8114-28,#u11188-8,#u11187-2,#u11187-3,#u11187-7,#u11187-11,#u11187-15,#u11187-22,#u11186-2,#u11186-6,#u11186-10,#u8110-22,#u8111-14,#u5021-7,#u5021-12,#u5021-17,#u5021-22,#u5021-27,#u5021-32,#u5021-37,#u5022-4,#u5022-5,#u5022-13,#u5022-18,#u5022-23,#u5023-4,#u5023-6,#u5023-8,#u5023-13
{
	font-family: open-sans-n3, sans-serif;
}

#u6180
{
	font-family: open-sans-n7, sans-serif;
}

#u8132-4,#u6180-7,#u6136-4,#u6135-4,#u6137-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6130-2,#u6130-3,#u6130-4,#u6130-6,#u6130-7,#u6130-12,#u6130-14,#u6130-15,#u6159-3,#u6159-5,#u6159-7,#u6159-8,#u6159-10,#u6159-12,#u6159-13,#u6159-15,#u6159-17,#u6159-18,#u6159-20,#u6159-22,#u6159-23,#u6159-25,#u6159-27,#u6159-28,#u6159-30,#u6159-32,#u6159-33,#u6159-35,#u6159-37,#u6159-38,#u6159-44
{
	font-family: open-sans-n4, sans-serif;
}

