#u3803_clip
{
	overflow: hidden;
}

#u4176
{
	-pie-box-shadow: 8px 0px 16px #7F7F7F;
	box-shadow: 8px 0px 16px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background: #E7E7E7 url("../images/line-diag_blue_backg2.jpg") repeat left top;
}

.hidpi #u4176
{
	background-image: url("../images/line-diag_blue_backg2_2x.jpg");
	background-size: 25px 25px;
}

#pamphletu8086,#u8091
{
	position: relative;
}

#u8096
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8096:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u8097-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8102
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8102:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u8096.PamphletThumbSelected,#u8102.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
}

#u8103-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8098
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8098:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u8099-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8102.PamphletThumbSelected #u8103-4 p,#u8098.PamphletThumbSelected #u8099-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u8092
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8092:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u8092.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 0px;
}

#u8093-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8100
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8100:hover
{
	background-color: #000000;
}

#u8101-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8094
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8094:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u8098.PamphletThumbSelected,#u8100.PamphletThumbSelected,#u8094.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8095-5
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u8096.PamphletThumbSelected #u8097-4 p,#u8092.PamphletThumbSelected #u8093-4 p,#u8100.PamphletThumbSelected #u8101-4 p,#u8094.PamphletThumbSelected #u8095-5 p,#u8094.PamphletThumbSelected #u8095-5 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: center;
}

#u8104
{
	position: absolute;
	background-color: transparent;
}

#u8119-7
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8119-3
{
	font-size: 14px;
	line-height: 20px;
}

#u8119-5
{
	font-size: 12px;
	line-height: 17px;
}

#u8120-35
{
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8120-2
{
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

#u8120-15
{
	text-indent: -18px;
	padding-left: 40px;
	color: #7F7F7F;
}

#u8120-20
{
	text-indent: -18px;
	padding-left: 40px;
	color: #7F7F7F;
}

#u8120-11,#u8120-16
{
	color: #FFFFFF;
}

#u8120-25
{
	text-indent: -18px;
	padding-left: 40px;
	color: #FFFFFF;
}

#u8120-6,#u8120-10,#u8120-29,#u8120-33
{
	line-height: 20px;
	color: #FFFFFF;
}

#u8116-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
}

#u8116-2
{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

#u8116-4
{
	font-size: 12px;
	line-height: 17px;
	font-weight: 300;
}

#u11194,#u11192
{
	background-color: #FCEE21;
	border-radius: 100px;
	position: relative;
}

#u11195-4,#u11193-4
{
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0.9703,-0.2419,0.2419,0.9703,-2,5);
	-ms-transform: matrix(0.9703,-0.2419,0.2419,0.9703,-2,5);
	transform: matrix(0.9703,-0.2419,0.2419,0.9703,-2,5);
	position: relative;
}

#u8114-2
{
	font-size: 14px;
}

#u8119,#u8120,#u8114
{
	font-weight: 400;
}

#u11185-24,#u11187-24
{
	background-color: transparent;
	line-height: 22px;
	font-size: 14px;
	position: relative;
}

#u11185-6,#u11185-10,#u11185-14,#u11185-18,#u11187-6,#u11187-10,#u11187-14,#u11187-18
{
	color: #000000;
}

#u11185-22,#u11187-22
{
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u8121-12,#u11186-12
{
	background-color: transparent;
	font-weight: 300;
	position: relative;
}

#u8121-2,#u11186-2
{
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
}

#u8121-6,#u8121-10,#u11186-6,#u11186-10
{
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
}

#u8118,#u8113,#u8106
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

#u8109
{
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	border-radius: 100px;
	position: relative;
}

#u8107
{
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	border-radius: 100px;
	position: relative;
}

#u8109:hover,#u8107:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
}

#u8112-6,#u8108-6
{
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u9519,#u9517,#u9520
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u11189-8,#u8114-28,#u11188-8,#u8110-22,#u8111-14
{
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u8117,#u8105,#u8122
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5013
{
	-pie-box-shadow: none;
	box-shadow: 8px 0px 26px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: #000000 url("../images/dark_tire.jpg") repeat left top;
}

.hidpi #u5013
{
	background-image: url("../images/dark_tire_2x.jpg");
	background-size: 125px 125px;
}

#u5020-4
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5021-39
{
	background-color: transparent;
	line-height: 20px;
	position: relative;
}

#u11185-2,#u11187-2,#u5021-7,#u5021-12,#u5021-17,#u5021-22,#u5021-27,#u5021-32,#u5021-37
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u5022-25
{
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u5022-8
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u5022
{
	color: #FBB03B;
	font-weight: 700;
}

#u5022-3
{
	font-weight: 700;
}

#u8095,#u11185-3,#u11185-7,#u11185-11,#u11185-15,#u11187-3,#u11187-7,#u11187-11,#u11187-15,#u5022-4,#u5022-5,#u5022-13,#u5022-18,#u5022-23
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u6668,#u3803,#u3807,#u6680,#u5014,#u5016,#u5018,#u5023-15
{
	background-color: transparent;
	position: relative;
}

#u5021-2,#u5023-2
{
	color: #FBB03B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u5023-4,#u5023-6,#u5023-8,#u5023-13
{
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

