.version.mcs2 /* version checker */
{
	color: #0000E5;
	background-color: #6A8ED7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.500000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 1px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 204;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 206;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 208;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 211;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 210;
	height: 40px;
}

#pamphletu8086
{
	z-index: 213;
	width: 0.01px;
	height: 31px;
	padding-bottom: 199px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 214;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 216;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 221;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 226;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 231;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 236;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 241;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 246;
}

#u8104
{
	width: 960px;
	top: 40px;
}

#u8118
{
	z-index: 247;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 311;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u9519
{
	z-index: 318;
	width: 82px;
	height: 9px;
	margin-left: 152px;
}

#u8120-33
{
	z-index: 248;
	width: 253px;
	min-height: 145px;
	margin-top: 19px;
}

#u8121-30
{
	z-index: 281;
	width: 218px;
	min-height: 127px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 717px;
}

#u8117
{
	z-index: 319;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 320;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 373;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9519,#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 464px;
}

#u9517
{
	z-index: 379;
	width: 82px;
	height: 9px;
	margin-left: 57px;
}

#u8114-22
{
	z-index: 321;
	width: 253px;
	min-height: 104px;
	margin-top: 19px;
}

#u8115-30
{
	z-index: 343;
	width: 218px;
	min-height: 148px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 717px;
}

#u8106
{
	z-index: 380;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 413;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 414;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 420;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 421;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 381;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 427;
	width: 82px;
	height: 9px;
}

#u8111-18
{
	z-index: 395;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 428;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 429;
	width: 960px;
	height: 190px;
	margin-right: -10000px;
}

#pu7991
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -191px;
}

#u7991,#u7991-bw
{
	z-index: 187;
	height: 280px;
}

#u7992
{
	z-index: 188;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
	left: 100px;
}

#u8129
{
	z-index: 189;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u8131
{
	z-index: 190;
	width: 960px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/3102869_print.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u8131
{
	background-image: url("../images/3102869_print_2x.jpg");
}

#u8130
{
	z-index: 191;
	width: 277px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 23px;
}

#u8132-4
{
	z-index: 192;
	width: 237px;
	min-height: 44px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u8133
{
	z-index: 196;
	width: 176px;
	height: 176px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 854px;
}

#u6180-7
{
	z-index: 197;
	width: 176px;
	min-height: 93px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	-webkit-transform: matrix(0.9816,0.1908,-0.1908,0.9816,10,-16);
	-ms-transform: matrix(0.9816,0.1908,-0.1908,0.9816,10,-16);
	-o-transform: matrix(0.9816,0.1908,-0.1908,0.9816,10,-16);
	transform: matrix(0.9816,0.1908,-0.1908,0.9816,10,-16);
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 854px;
}

#u6180
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#ppu6131
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 4px;
}

#pu6131
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u6131
{
	z-index: 120;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6134
{
	z-index: 121;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	padding-bottom: 2px;
	position: relative;
}

#u6134:hover
{
	background-color: #000000;
	margin: 0px;
}

#u6136-4
{
	z-index: 122;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u6132
{
	z-index: 131;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	padding-bottom: 3px;
	margin-top: 9px;
	position: relative;
}

#u6135-4
{
	z-index: 132;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -1px;
}

#u6133
{
	z-index: 126;
	width: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	padding-bottom: 2px;
	margin-top: 9px;
	position: relative;
}

#u6132:hover,#u6133:hover
{
	background-color: #000000;
	margin: 9px 0px 0px;
}

#u6137-4
{
	z-index: 127;
	width: 277px;
	min-height: 35px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u6136-2,#u6135-2,#u6137-2
{
	padding-bottom: 10px;
}

#u6138-4
{
	z-index: 136;
	width: 276px;
	min-height: 135px;
	background-color: transparent;
	line-height: 14px;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#pu6129-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 309px;
}

#u6129-5
{
	z-index: 115;
	width: 604px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u6129-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6129-2
{
	font-size: 14px;
	line-height: 17px;
}

#u6130-23
{
	z-index: 92;
	width: 604px;
	min-height: 438px;
	background-color: transparent;
	line-height: 19px;
	margin-top: 24px;
	position: relative;
}

#u6130-2,#u6130-3,#u6130-4,#u6130-12
{
	font-size: 16px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u6130-6,#u6130-7,#u6130-14,#u6130-15
{
	font-size: 16px;
	color: #0071BC;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u8134
{
	z-index: 186;
	width: 604px;
	min-height: 813px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 16px;
	position: relative;
}

#u6159-46
{
	z-index: 140;
	width: 604px;
	min-height: 838px;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 45px;
	position: relative;
}

#u6129,#u6159-2
{
	line-height: 43px;
}

#u6159-5,#u6159-10,#u6159-15,#u6159-20,#u6159-25,#u6159-30,#u6159-35
{
	font-size: 16px;
	line-height: 19px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u6159-3,#u6159-7,#u6159-8,#u6159-12,#u6159-13,#u6159-17,#u6159-18,#u6159-22,#u6159-23,#u6159-27,#u6159-28,#u6159-32,#u6159-33,#u6159-37,#u6159-38,#u6159-44
{
	font-size: 16px;
	line-height: 19px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 31px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 110px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

