.version.student_housing /* version checker */
{
	color: #0000F9;
	background-color: #32A901;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1406px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 179;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 181;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 183;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 186;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 185;
	height: 40px;
}

#pamphletu8086
{
	z-index: 188;
	width: 0.01px;
	height: 31px;
	padding-bottom: 239px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 189;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 191;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 196;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 201;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 206;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 211;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 216;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 221;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 222;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 290;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 443px;
}

#u9519
{
	z-index: 297;
	width: 82px;
	height: 9px;
	margin-left: 173px;
}

#u8120-33
{
	z-index: 223;
	width: 253px;
	min-height: 145px;
	margin-top: 9px;
}

#u8121-34
{
	z-index: 256;
	width: 235px;
	min-height: 199px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 717px;
}

#u8117
{
	z-index: 298;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 299;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 356;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 451px;
}

#u9517
{
	z-index: 362;
	width: 82px;
	height: 9px;
	margin-left: 70px;
}

#u8114-22
{
	z-index: 300;
	width: 253px;
	min-height: 135px;
	margin-top: 27px;
}

#u8115-34
{
	z-index: 322;
	width: 218px;
	min-height: 167px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 717px;
}

#u8106
{
	z-index: 363;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 392;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 393;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 399;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 400;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 364;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 406;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 378;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 407;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 408;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#pu7991
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -232px;
}

#u7991,#u7991-bw
{
	z-index: 92;
	height: 280px;
}

#u7992
{
	z-index: 93;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
	left: 100px;
}

#u10193
{
	z-index: 178;
	width: 960px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/dscn1182%20(1).jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u10193
{
	background-image: url("../images/dscn1182%20(1)_2x.jpg");
}

#u10185-84
{
	z-index: 94;
	width: 604px;
	min-height: 1248px;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 48px;
	position: relative;
}

#u10185-2
{
	line-height: 43px;
}

#u10185-28
{
	color: #C1272D;
}

#u10185-31
{
	line-height: 19px;
	color: #C1272D;
}

#u10185-51
{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}

#u10185-36,#u10185-37,#u10185-63
{
	line-height: 29px;
}

#u10185-38,#u10185-53,#u10185-65
{
	font-weight: 700;
}

#u10185-4,#u10185-5,#u10185-15,#u10185-16,#u10185-18,#u10185-20,#u10185-22,#u10185-23,#u10185-25,#u10185-26,#u10185-29,#u10185-32,#u10185-33,#u10185-34,#u10185-44,#u10185-45,#u10185-47,#u10185-52,#u10185-59,#u10185-60,#u10185-61,#u10185-64,#u10185-71,#u10185-72,#u10185-74,#u10185-76,#u10185-78
{
	line-height: 19px;
}

#u10185-49,#u10185-80,#u10185-82
{
	font-size: 12px;
	line-height: 14px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

