.version.student_housing /* version checker */
{
	color: #0000F4;
	background-color: #0AA9F3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1406px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	width: 0.01px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 209;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 211;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 213;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 216;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 215;
	height: 40px;
}

#pamphletu8086
{
	z-index: 218;
	width: 0.01px;
	height: 32px;
	padding-bottom: 288px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 219;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8097-4
{
	z-index: 221;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 13px -10000px 0px 0px;
}

#u8096.PamphletThumbSelected #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8103-4
{
	z-index: 226;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8098:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u8098.PamphletThumbSelected
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u8099-4
{
	z-index: 231;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 101px;
	margin: 13px -10000px 0px 0px;
}

#u8098.PamphletThumbSelected #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 101px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8092:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u8092.PamphletThumbSelected
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u8093-4
{
	z-index: 236;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 80px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 80px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8100:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u8100.PamphletThumbSelected
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u8101-4
{
	z-index: 241;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77px;
	margin: 12px -10000px 0px 0px;
}

#u8100.PamphletThumbSelected #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8102.PamphletThumbSelected,#u8094:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u8095-5
{
	z-index: 246;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 251;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 252;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 300;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 52px;
}

#pu11194
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 190px;
	margin-left: 287px;
}

#u11194
{
	z-index: 340;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	left: 2px;
}

#u11195-4
{
	z-index: 341;
	width: 36px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#pu8120-35
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 332px;
}

#u8120-35
{
	z-index: 253;
	width: 253px;
	min-height: 145px;
}

#u11189-8
{
	z-index: 332;
	width: 235px;
	min-height: 66px;
	margin-top: 10px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 616px;
}

#u9519
{
	z-index: 307;
	width: 82px;
	height: 9px;
}

#u11185-24
{
	z-index: 308;
	width: 235px;
	min-height: 145px;
	margin-left: 24px;
	margin-top: 16px;
}

#u8121-12
{
	z-index: 288;
	width: 235px;
	min-height: 66px;
	margin-left: 24px;
	margin-top: 16px;
}

#u8117
{
	z-index: 345;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 346;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 375;
	width: 219px;
	min-height: 227px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 57px;
}

#pu11192
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 203px;
	margin-left: 288px;
}

#u11192
{
	z-index: 426;
	width: 36px;
	height: 36px;
	margin-right: -10000px;
	left: 2px;
}

#u11193-4
{
	z-index: 427;
	width: 36px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#pu9517
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 332px;
}

#u9517
{
	z-index: 381;
	width: 82px;
	height: 9px;
	margin-left: 189px;
}

#u8114-28
{
	z-index: 347;
	width: 253px;
	min-height: 163px;
	margin-top: 19px;
}

#u11188-8
{
	z-index: 418;
	width: 253px;
	min-height: 66px;
	margin-top: 8px;
}

#pu11187-24
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 640px;
}

#u11187-24
{
	z-index: 394;
	width: 235px;
	min-height: 166px;
}

#u11186-12
{
	z-index: 382;
	width: 235px;
	min-height: 66px;
	margin-top: 7px;
}

#u8106
{
	z-index: 431;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 468;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 101px;
}

#u8112-6
{
	z-index: 469;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 475;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 265px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 476;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-22
{
	z-index: 432;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 482;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 454;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 483;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 484;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
}

#pu7991
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -281px;
}

#u7991,#u7991-bw
{
	z-index: 92;
	height: 280px;
}

#u7992
{
	z-index: 93;
	width: 960px;
	height: 280px;
	margin-right: -10000px;
	left: 100px;
}

#u10193
{
	z-index: 208;
	width: 960px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
	background: #FFFFFF url("../images/dscn1182%20(1).jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u10193
{
	background-image: url("../images/dscn1182%20(1)_2x.jpg");
}

#u10185-114
{
	z-index: 94;
	width: 604px;
	min-height: 1248px;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 47px;
	position: relative;
}

#u10185-2
{
	line-height: 43px;
}

#u10185-29
{
	color: #C1272D;
}

#u10185-32
{
	line-height: 19px;
	color: #C1272D;
}

#u10185-62
{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}

#u10185-37,#u10185-38,#u10185-83
{
	line-height: 29px;
}

#u10185-39,#u10185-64,#u10185-85
{
	font-weight: 700;
}

#u10185-4,#u10185-5,#u10185-7,#u10185-8,#u10185-16,#u10185-17,#u10185-19,#u10185-21,#u10185-23,#u10185-24,#u10185-26,#u10185-27,#u10185-30,#u10185-33,#u10185-34,#u10185-35,#u10185-43,#u10185-44,#u10185-50,#u10185-55,#u10185-56,#u10185-58,#u10185-63,#u10185-68,#u10185-69,#u10185-75,#u10185-80,#u10185-81,#u10185-84,#u10185-89,#u10185-90,#u10185-96,#u10185-101,#u10185-102,#u10185-104,#u10185-106,#u10185-108
{
	line-height: 19px;
}

#u10185-60,#u10185-110,#u10185-112
{
	font-size: 12px;
	line-height: 14px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

