.version.upcoming_classes___seminary /* version checker */
{
	color: #0000E7;
	background-color: #8EB687;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.7500000000005px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 309;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 311;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 313;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 316;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 315;
	height: 40px;
}

#pamphletu8086
{
	z-index: 318;
	width: 0.01px;
	height: 31px;
	padding-bottom: 239px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 319;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 321;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 326;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 331;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 336;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 341;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 346;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 351;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 352;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 420;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 443px;
}

#u9519
{
	z-index: 427;
	width: 82px;
	height: 9px;
	margin-left: 173px;
}

#u8120-33
{
	z-index: 353;
	width: 253px;
	min-height: 145px;
	margin-top: 9px;
}

#u8121-34
{
	z-index: 386;
	width: 235px;
	min-height: 199px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 717px;
}

#u8117
{
	z-index: 428;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 429;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 486;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 451px;
}

#u9517
{
	z-index: 492;
	width: 82px;
	height: 9px;
	margin-left: 70px;
}

#u8114-22
{
	z-index: 430;
	width: 253px;
	min-height: 135px;
	margin-top: 27px;
}

#u8115-34
{
	z-index: 452;
	width: 218px;
	min-height: 167px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 717px;
}

#u8106
{
	z-index: 493;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 522;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 523;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 529;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 530;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 494;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 536;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 508;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 537;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 538;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#ppu9433
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -232px;
}

#pu9433
{
	z-index: 301;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 100px;
}

#u9433
{
	z-index: 0;
	width: 960px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu10505
{
	width: 0.01px;
	position: relative;
	z-index: 2;
}

#u10505
{
	z-index: 302;
	width: 960px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/_dsc02202.jpg") no-repeat center center;
	background-size: cover;
}

#u9434,#u9434-bw
{
	z-index: 300;
	height: 191px;
}

#u10504-6
{
	z-index: 303;
	width: 900px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	margin-left: 24px;
	top: -26px;
	margin-bottom: -26px;
	position: relative;
}

#u10504-3
{
	color: #FBB03B;
}

#u10483-6
{
	z-index: 97;
	width: 604px;
	min-height: 49px;
	background-color: transparent;
	color: #C1272D;
	line-height: 43px;
	margin-left: 178px;
	margin-top: 58px;
	position: relative;
}

#u10463-4
{
	z-index: 103;
	width: 604px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 178px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u10475
{
	z-index: 93;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-left: 178px;
	margin-top: 16px;
	position: relative;
}

#u10466-22
{
	z-index: 107;
	width: 568px;
	min-height: 271px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u10466-8
{
	line-height: 19px;
	font-style: italic;
}

#pu10472
{
	width: 0.01px;
	margin-left: 177px;
	margin-top: 17px;
}

#u10472
{
	z-index: 92;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 207px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u10486-3
{
	z-index: 94;
	width: 604px;
	min-height: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#u10485-20
{
	z-index: 129;
	width: 568px;
	min-height: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u10484-5
{
	z-index: 149;
	width: 604px;
	min-height: 52px;
	background-color: transparent;
	color: #C1272D;
	line-height: 43px;
	margin-left: 178px;
	margin-top: 57px;
	position: relative;
}

#u10460
{
	z-index: 191;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 16px;
	margin-left: 178px;
	margin-top: 7px;
	position: relative;
}

#u10481-13
{
	z-index: 192;
	width: 568px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10476
{
	z-index: 205;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-left: 178px;
	margin-top: 19px;
	position: relative;
}

#u10468-15
{
	z-index: 206;
	width: 568px;
	min-height: 175px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10488
{
	z-index: 221;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 22px;
	margin-left: 178px;
	margin-top: 18px;
	position: relative;
}

#u10464-15
{
	z-index: 222;
	width: 568px;
	min-height: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10480-37
{
	z-index: 154;
	width: 604px;
	min-height: 380px;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 21px;
	position: relative;
}

#u10479-5
{
	z-index: 237;
	width: 604px;
	min-height: 52px;
	background-color: transparent;
	color: #C1272D;
	line-height: 43px;
	margin-left: 178px;
	margin-top: 25px;
	position: relative;
}

#u10504,#u10483-2,#u10484-2,#u10479-2
{
	color: #000000;
}

#u10467
{
	z-index: 242;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 24px;
	margin-left: 178px;
	margin-top: 4px;
	position: relative;
}

#u10474-21
{
	z-index: 243;
	width: 568px;
	min-height: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10461
{
	z-index: 264;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-left: 178px;
	margin-top: 21px;
	position: relative;
}

#u10469-19
{
	z-index: 265;
	width: 568px;
	min-height: 388px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10466-2,#u10485-2,#u10481-2,#u10468-2,#u10464-2,#u10474-2,#u10469-2
{
	line-height: 29px;
}

#u10481-6,#u10468-6,#u10464-6,#u10474-6,#u10469-6
{
	text-align: left;
	line-height: 19px;
	font-style: italic;
}

#u10466-4,#u10466-6,#u10481-4,#u10468-4,#u10464-4,#u10474-4,#u10469-4
{
	font-weight: 700;
}

#u10478-16
{
	z-index: 284;
	width: 604px;
	min-height: 158px;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 40px;
	position: relative;
}

#u10480-2,#u10478-2
{
	line-height: 29px;
	color: #F15A24;
}

#u10480-13,#u10478-7
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #C1272D;
}

#u10466-10,#u10466-12,#u10466-14,#u10466-16,#u10466-18,#u10485-5,#u10485-7,#u10485-9,#u10485-11,#u10485-13,#u10485-16,#u10485-18,#u10481-8,#u10481-9,#u10481-11,#u10468-8,#u10468-10,#u10468-11,#u10468-13,#u10464-8,#u10464-10,#u10464-11,#u10464-13,#u10480-4,#u10480-10,#u10480-11,#u10480-14,#u10480-16,#u10480-17,#u10480-21,#u10480-22,#u10480-28,#u10480-29,#u10480-35,#u10474-8,#u10474-10,#u10474-12,#u10474-14,#u10474-16,#u10474-17,#u10474-19,#u10469-8,#u10469-10,#u10469-12,#u10469-14,#u10469-15,#u10469-17,#u10478-4,#u10478-5,#u10478-8,#u10478-14
{
	line-height: 19px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

