.version.upcoming_classes___college /* version checker */
{
	color: #000018;
	background-color: #5A2D75;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1405.5500000000002px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#pu6668
{
	width: 0.01px;
	margin-left: 24px;
}

#u6668
{
	z-index: 274;
	width: 486px;
	margin-right: -10000px;
}

#u3803
{
	z-index: 276;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 803px;
}

#u3803_clip
{
	width: 30px;
	height: 30px;
}

#u3803_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u3807
{
	z-index: 278;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 843px;
}

#u6680
{
	z-index: 281;
	width: 30px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 882px;
}

#pu4176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u4176,#u4176-bw
{
	z-index: 280;
	height: 40px;
}

#pamphletu8086
{
	z-index: 283;
	width: 0.01px;
	height: 31px;
	padding-bottom: 239px;
	margin-right: -10000px;
	left: 100px;
}

#u8091
{
	z-index: 284;
	width: 530px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 417px;
}

#u8096
{
	width: 100px;
	padding-bottom: 9px;
	top: -12px;
	left: 193px;
}

#u8096:hover
{
	margin: 0px;
}

#u8097-4
{
	z-index: 286;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096:hover #u8097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8102
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
}

#u8096.PamphletThumbSelected,#u8102:hover
{
	margin: 0px;
}

#u8103-4
{
	z-index: 291;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8102:hover #u8103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8098
{
	width: 101px;
	padding-bottom: 9px;
	top: -12px;
	left: 92px;
}

#u8102.PamphletThumbSelected,#u8098:hover
{
	margin: 0px;
}

#u8099-4
{
	z-index: 296;
	width: 101px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8096.PamphletThumbSelected #u8097-4,#u8098:hover #u8099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092
{
	width: 80px;
	padding-bottom: 9px;
	top: -12px;
	left: 289px;
}

#u8098.PamphletThumbSelected,#u8092:hover
{
	margin: 0px;
}

#u8093-4
{
	z-index: 301;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u8098.PamphletThumbSelected #u8099-4,#u8092:hover #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8092.PamphletThumbSelected #u8093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u8100
{
	width: 79px;
	padding-bottom: 10px;
	top: -12px;
	left: 360px;
}

#u8092.PamphletThumbSelected,#u8100:hover
{
	margin: 0px;
}

#u8101-4
{
	z-index: 306;
	width: 77px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u8102.PamphletThumbSelected #u8103-4,#u8100:hover #u8101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094
{
	width: 100px;
	padding-bottom: 10px;
	top: -12px;
	left: 430px;
}

#u8100.PamphletThumbSelected,#u8094:hover
{
	margin: 0px;
}

#u8094.PamphletThumbSelected
{
	margin: 0px;
}

#u8095-5
{
	z-index: 311;
	width: 100px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u8100.PamphletThumbSelected #u8101-4,#u8094:hover #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8094.PamphletThumbSelected #u8095-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 12px -10000px 0px 0px;
}

#u8104popup
{
	z-index: 316;
}

#u8104
{
	width: 960px;
	top: 39px;
}

#u8118
{
	z-index: 317;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8119-7
{
	z-index: 385;
	width: 219px;
	min-height: 140px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#pu9519
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 443px;
}

#u9519
{
	z-index: 392;
	width: 82px;
	height: 9px;
	margin-left: 173px;
}

#u8120-33
{
	z-index: 318;
	width: 253px;
	min-height: 145px;
	margin-top: 9px;
}

#u8121-34
{
	z-index: 351;
	width: 235px;
	min-height: 199px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 717px;
}

#u8117
{
	z-index: 393;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8113
{
	z-index: 394;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8116-6
{
	z-index: 451;
	width: 286px;
	min-height: 116px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#pu9517
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 451px;
}

#u9517
{
	z-index: 457;
	width: 82px;
	height: 9px;
	margin-left: 70px;
}

#u8114-22
{
	z-index: 395;
	width: 253px;
	min-height: 135px;
	margin-top: 27px;
}

#u8115-34
{
	z-index: 417;
	width: 218px;
	min-height: 167px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 717px;
}

#u8106
{
	z-index: 458;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8109
{
	z-index: 487;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 178px;
}

#u8112-6
{
	z-index: 488;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8107
{
	z-index: 494;
	width: 122px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 342px;
}

#u8109:hover,#u8107:hover
{
	width: 121px;
	min-height: 0px;
	margin: 29px -10001px -1px 0px;
}

#u8108-6
{
	z-index: 495;
	width: 122px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 1px;
}

#u8110-14
{
	z-index: 459;
	width: 142px;
	min-height: 128px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 551px;
}

#pu9520
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 706px;
}

#u9520
{
	z-index: 501;
	width: 82px;
	height: 9px;
}

#u8111-14
{
	z-index: 473;
	width: 186px;
	min-height: 129px;
	margin-left: 12px;
	margin-top: 19px;
}

#u8105
{
	z-index: 502;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#u8122
{
	z-index: 503;
	width: 960px;
	height: 231px;
	margin-right: -10000px;
}

#ppu9433
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -232px;
}

#pu9433
{
	z-index: 266;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 100px;
}

#u9433
{
	z-index: 0;
	width: 960px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu10352
{
	width: 0.01px;
	position: relative;
	z-index: 2;
}

#u10352
{
	z-index: 267;
	width: 960px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/_dsc0220.jpg") no-repeat center center;
	background-size: cover;
}

#u9434,#u9434-bw
{
	z-index: 265;
	height: 191px;
}

#u10523-6
{
	z-index: 268;
	width: 900px;
	min-height: 47px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	margin-left: 20px;
	top: -25px;
	margin-bottom: -25px;
	position: relative;
}

#u10523-3
{
	color: #FBB03B;
}

#u10394-6
{
	z-index: 93;
	width: 604px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	color: #C1272D;
	margin-left: 178px;
	margin-top: 63px;
	position: relative;
}

#u10379-4
{
	z-index: 99;
	width: 604px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 178px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u10382
{
	z-index: 92;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-left: 178px;
	margin-top: 16px;
	position: relative;
}

#u10373-22
{
	z-index: 103;
	width: 568px;
	min-height: 271px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u10373-8
{
	line-height: 19px;
	font-style: italic;
}

#u10387-5
{
	z-index: 125;
	width: 604px;
	min-height: 52px;
	background-color: transparent;
	line-height: 43px;
	color: #C1272D;
	margin-left: 178px;
	margin-top: 62px;
	position: relative;
}

#u10523,#u10394-2,#u10387-2
{
	color: #000000;
}

#u10391
{
	z-index: 130;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 27px;
	margin-left: 178px;
	margin-top: 12px;
	position: relative;
}

#u10367-19
{
	z-index: 131;
	width: 568px;
	min-height: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10396
{
	z-index: 150;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 31px;
	margin-left: 178px;
	margin-top: 20px;
	position: relative;
}

#u10368-16
{
	z-index: 151;
	width: 568px;
	min-height: 138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10385
{
	z-index: 167;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 27px;
	margin-left: 178px;
	margin-top: 21px;
	position: relative;
}

#u10375-19
{
	z-index: 168;
	width: 568px;
	min-height: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10370
{
	z-index: 187;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 27px;
	margin-left: 178px;
	margin-top: 21px;
	position: relative;
}

#u10381-19
{
	z-index: 188;
	width: 568px;
	min-height: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10388
{
	z-index: 207;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 23px;
	margin-left: 178px;
	margin-top: 20px;
	position: relative;
}

#u10365-21
{
	z-index: 208;
	width: 568px;
	min-height: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10389
{
	z-index: 229;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 27px;
	margin-left: 176px;
	margin-top: 21px;
	position: relative;
}

#u10372-19
{
	z-index: 230;
	width: 568px;
	min-height: 189px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10373-2,#u10367-2,#u10368-2,#u10375-2,#u10381-2,#u10365-2,#u10372-2
{
	line-height: 29px;
}

#u10367-6,#u10368-6,#u10375-6,#u10381-6,#u10365-6,#u10372-6
{
	text-align: left;
	line-height: 19px;
	font-style: italic;
}

#u10373-4,#u10373-6,#u10367-4,#u10368-4,#u10375-4,#u10381-4,#u10365-4,#u10372-4
{
	font-weight: 700;
}

#u10392-16
{
	z-index: 249;
	width: 604px;
	min-height: 158px;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 22px;
	position: relative;
}

#u10392-2
{
	line-height: 29px;
	color: #F15A24;
}

#u10392-7
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #C1272D;
}

#u10373-10,#u10373-12,#u10373-14,#u10373-16,#u10373-18,#u10367-8,#u10367-10,#u10367-12,#u10367-14,#u10367-15,#u10367-17,#u10368-8,#u10368-10,#u10368-12,#u10368-14,#u10375-8,#u10375-10,#u10375-12,#u10375-14,#u10375-15,#u10375-17,#u10381-8,#u10381-10,#u10381-12,#u10381-14,#u10381-15,#u10381-17,#u10365-8,#u10365-10,#u10365-12,#u10365-14,#u10365-15,#u10365-17,#u10365-19,#u10372-8,#u10372-10,#u10372-12,#u10372-14,#u10372-15,#u10372-17,#u10392-4,#u10392-5,#u10392-8,#u10392-14
{
	line-height: 19px;
}

#pu5013
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u5013,#u5013-bw
{
	z-index: 2;
	height: 218px;
}

#u5014
{
	z-index: 3;
	width: 38px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 110px;
}

#u5016
{
	z-index: 5;
	width: 91px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 237px;
}

#u5018
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 161px;
}

#u5020-4
{
	z-index: 9;
	width: 218px;
	min-height: 77px;
	margin-right: -10000px;
	margin-top: 110px;
	left: 110px;
}

#u5021-39
{
	z-index: 13;
	width: 288px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 391px;
}

#u5022-25
{
	z-index: 52;
	width: 295px;
	min-height: 91px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 714px;
}

#u5023-15
{
	z-index: 77;
	width: 308px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 714px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

