.version.upcoming_classes /* version checker */
{
	color: #000005;
	background-color: #8E2858;
}

.html
{
	background: #7F7F7F url("../images/gray_jean_%402x.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../images/gray_jean_%402x_2x.jpg");
	background-size: 150px 150px;
}

#page
{
	z-index: 1;
	width: 650px;
	min-height: 499.77499999999964px;
	-pie-box-shadow: 0px 0px 15px #7F7F7F;
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	padding-bottom: 30px;
}

#pu10692-6
{
	width: 0.01px;
}

#u10692-6
{
	z-index: 336;
	width: 650px;
	min-height: 18px;
	margin-right: -10000px;
}

#u10750
{
	z-index: 342;
	width: 519px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 65px;
}

#u10690
{
	z-index: 335;
	width: 650px;
	height: 150px;
	top: -4px;
	margin-bottom: -4px;
}

#u10741
{
	z-index: 334;
	width: 650px;
	padding-bottom: 2px;
}

#u10743-4
{
	z-index: 344;
	width: 604px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u10299-6
{
	z-index: 7;
	width: 604px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	color: #C1272D;
	margin-left: 24px;
	margin-top: 36px;
	position: relative;
}

#u10300-4
{
	z-index: 13;
	width: 604px;
	background-color: transparent;
	line-height: 19px;
	margin-left: 24px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u10319
{
	z-index: 3;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 15px;
	margin-left: 24px;
	margin-top: 16px;
	position: relative;
}

#u10312-23
{
	z-index: 17;
	width: 568px;
	min-height: 271px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#pu10320
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 20px;
}

#u10320
{
	z-index: 2;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 196px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u10284-3
{
	z-index: 4;
	width: 604px;
	min-height: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#u10314-24
{
	z-index: 40;
	width: 568px;
	min-height: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#u10312-8,#u10314-6
{
	line-height: 19px;
	font-style: italic;
}

#u10315-5
{
	z-index: 64;
	width: 604px;
	min-height: 52px;
	background-color: transparent;
	line-height: 43px;
	color: #C1272D;
	margin-left: 24px;
	margin-top: 44px;
	position: relative;
}

#u10321
{
	z-index: 106;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
	margin-left: 24px;
	margin-top: 7px;
	position: relative;
}

#u10322-13
{
	z-index: 107;
	width: 568px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10323
{
	z-index: 120;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 24px;
	margin-top: 19px;
	position: relative;
}

#u10324-15
{
	z-index: 121;
	width: 568px;
	min-height: 175px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10325
{
	z-index: 136;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-left: 24px;
	margin-top: 18px;
	position: relative;
}

#u10326-15
{
	z-index: 137;
	width: 568px;
	min-height: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10316-37
{
	z-index: 69;
	width: 604px;
	min-height: 380px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 21px;
	position: relative;
}

#u10327-5
{
	z-index: 152;
	width: 604px;
	min-height: 52px;
	background-color: transparent;
	line-height: 43px;
	color: #C1272D;
	margin-left: 24px;
	margin-top: 25px;
	position: relative;
}

#u10299-2,#u10315-2,#u10327-2
{
	color: #000000;
}

#u10328
{
	z-index: 157;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 19px;
	margin-left: 24px;
	margin-top: 4px;
	position: relative;
}

#u10329-21
{
	z-index: 158;
	width: 568px;
	min-height: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10330
{
	z-index: 179;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 16px;
	margin-left: 24px;
	margin-top: 21px;
	position: relative;
}

#u10331-19
{
	z-index: 180;
	width: 568px;
	min-height: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u10332
{
	z-index: 199;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-left: 24px;
	margin-top: 21px;
	position: relative;
}

#u10333-19
{
	z-index: 200;
	width: 568px;
	min-height: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10334
{
	z-index: 219;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 15px;
	margin-left: 24px;
	margin-top: 20px;
	position: relative;
}

#u10335-16
{
	z-index: 220;
	width: 568px;
	min-height: 138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10336
{
	z-index: 236;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	margin-left: 22px;
	margin-top: 21px;
	position: relative;
}

#u10337-19
{
	z-index: 237;
	width: 568px;
	min-height: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10338
{
	z-index: 256;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-left: 24px;
	margin-top: 21px;
	position: relative;
}

#u10339-19
{
	z-index: 257;
	width: 568px;
	min-height: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10340
{
	z-index: 276;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 15px;
	margin-left: 22px;
	margin-top: 24px;
	position: relative;
}

#u10341-21
{
	z-index: 277;
	width: 568px;
	min-height: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10342
{
	z-index: 298;
	width: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-left: 22px;
	margin-top: 23px;
	position: relative;
}

#u10343-19
{
	z-index: 299;
	width: 568px;
	min-height: 189px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u10312-2,#u10314-2,#u10322-2,#u10324-2,#u10326-2,#u10329-2,#u10331-2,#u10333-2,#u10335-2,#u10337-2,#u10339-2,#u10341-2,#u10343-2
{
	line-height: 29px;
}

#u10322-6,#u10324-6,#u10326-6,#u10329-6,#u10331-6,#u10333-6,#u10335-6,#u10337-6,#u10339-6,#u10341-6,#u10343-6
{
	text-align: left;
	line-height: 19px;
	font-style: italic;
}

#u10312-4,#u10312-6,#u10314-4,#u10322-4,#u10324-4,#u10326-4,#u10329-4,#u10331-4,#u10333-4,#u10335-4,#u10337-4,#u10339-4,#u10341-4,#u10343-4
{
	font-weight: 700;
}

#u10344-16
{
	z-index: 318;
	width: 604px;
	min-height: 158px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 27px;
	position: relative;
}

#u10316-2,#u10344-2
{
	line-height: 29px;
	color: #F15A24;
}

#u10316-13,#u10344-7
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #C1272D;
}

#u10312-10,#u10312-12,#u10312-14,#u10312-16,#u10312-18,#u10312-19,#u10312-21,#u10314-9,#u10314-11,#u10314-13,#u10314-15,#u10314-17,#u10314-20,#u10314-22,#u10322-8,#u10322-9,#u10322-11,#u10324-8,#u10324-10,#u10324-11,#u10324-13,#u10326-8,#u10326-10,#u10326-11,#u10326-13,#u10316-4,#u10316-10,#u10316-11,#u10316-14,#u10316-16,#u10316-17,#u10316-21,#u10316-22,#u10316-28,#u10316-29,#u10316-35,#u10329-8,#u10329-10,#u10329-12,#u10329-14,#u10329-16,#u10329-17,#u10329-19,#u10331-8,#u10331-10,#u10331-12,#u10331-14,#u10331-15,#u10331-17,#u10333-8,#u10333-10,#u10333-12,#u10333-14,#u10333-15,#u10333-17,#u10335-8,#u10335-10,#u10335-12,#u10335-14,#u10337-8,#u10337-10,#u10337-12,#u10337-14,#u10337-15,#u10337-17,#u10339-8,#u10339-10,#u10339-12,#u10339-14,#u10339-15,#u10339-17,#u10341-8,#u10341-10,#u10341-12,#u10341-14,#u10341-15,#u10341-17,#u10341-19,#u10343-8,#u10343-10,#u10343-12,#u10343-14,#u10343-15,#u10343-17,#u10344-4,#u10344-5,#u10344-8,#u10344-14
{
	line-height: 19px;
}

body
{
	position: relative;
	min-width: 650px;
	padding-top: 71px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

