.version.working_page_1 /* version checker */
{
	color: #0000ED;
	background-color: #6EEF7B;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2950.7374999999997px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 3px;
	padding-bottom: 62px;
}

#pppu8263-4
{
	width: 0.01px;
	margin-left: -35px;
}

#ppu8263-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 50px;
}

#pu8263-4
{
	width: 0.01px;
}

#u8263-4
{
	z-index: 107;
	width: 296px;
	background-color: transparent;
	color: #0071BC;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u8258-5
{
	z-index: 81;
	width: 607px;
	min-height: 30px;
	background-color: transparent;
	color: #0071BC;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#pu8182-4
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 16px;
}

#u8182-4
{
	z-index: 50;
	width: 219px;
	min-height: 31px;
	background-color: transparent;
	color: #1B1464;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u8191-4
{
	z-index: 58;
	width: 451px;
	min-height: 31px;
	background-color: transparent;
	color: #1B1464;
	line-height: 26px;
	font-size: 22px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u8194-4
{
	z-index: 62;
	width: 130px;
	min-height: 17px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u8171-4
{
	z-index: 6;
	width: 219px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 716px;
	margin-top: 10px;
	position: relative;
}

#u8170-4
{
	z-index: 2;
	width: 219px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 716px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u8260-21
{
	z-index: 86;
	width: 274px;
	min-height: 200px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 995px;
}

#u8260-2,#u8260-7,#u8260-12,#u8260-17
{
	font-weight: 700;
}

#u8260-4,#u8260-5,#u8260-9,#u8260-10,#u8260-14,#u8260-15,#u8260-19
{
	font-weight: 400;
}

#u8173-4
{
	z-index: 14;
	width: 218px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 681px;
	position: relative;
}

#u8172-4
{
	z-index: 10;
	width: 218px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 681px;
	margin-top: 1px;
	position: relative;
}

#u8175-4
{
	z-index: 22;
	width: 218px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 681px;
	margin-top: 29px;
	position: relative;
}

#u8174-4
{
	z-index: 18;
	width: 218px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 681px;
	margin-top: 1px;
	position: relative;
}

#u8177-4
{
	z-index: 30;
	width: 217px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 681px;
	margin-top: 29px;
	position: relative;
}

#u8176-4
{
	z-index: 26;
	width: 217px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 681px;
	margin-top: 1px;
	position: relative;
}

#pu8178-4
{
	width: 0.01px;
	margin-left: 127px;
	margin-top: -2px;
}

#u8178-4
{
	z-index: 34;
	width: 217px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 554px;
}

#u8179-4
{
	z-index: 38;
	width: 217px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 554px;
}

#u8180-4
{
	z-index: 42;
	width: 217px;
	min-height: 22px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 554px;
}

#u8181-4
{
	z-index: 46;
	width: 217px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 554px;
}

#u8183-4
{
	z-index: 54;
	width: 142px;
	min-height: 17px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 614px;
}

#u8283-4
{
	z-index: 111;
	width: 200px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u8289
{
	z-index: 115;
	width: 1px;
	height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u8290
{
	z-index: 116;
	width: 1px;
	height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 193px;
}

#u8291
{
	z-index: 117;
	width: 1px;
	height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 389px;
}

#u8292
{
	z-index: 118;
	width: 1px;
	height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 584px;
}

#ppu8198
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 55px;
}

#pu8198
{
	width: 0.01px;
	margin-right: -10000px;
}

#u8198
{
	z-index: 68;
	width: 243px;
	-pie-box-shadow: 7px 7px 20px #A5A5A5;
	-moz-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 7px 7px 20px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	padding-bottom: 31px;
	position: relative;
}

#u8199-4
{
	z-index: 69;
	width: 181px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 31px;
}

#u8197
{
	z-index: 67;
	width: 243px;
	-pie-box-shadow: 7px 7px 20px #A5A5A5;
	-moz-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 7px 7px 20px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	border-style: none;
	border-color: transparent;
	background-color: #FBB03B;
	padding-bottom: 31px;
	position: relative;
}

#u8198:hover,#u8197:hover
{
	-pie-box-shadow: 0px 0px 20px #A5A5A5;
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
	background-color: #000000;
	margin: 0px;
}

#u8200-4
{
	z-index: 73;
	width: 181px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 31px;
}

#u8635
{
	z-index: 159;
	width: 142px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 306px;
	background: #CBC8C8 url("../images/dsc_0048jpg-u8635-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu8636-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 460px;
}

#u8636-4
{
	z-index: 160;
	width: 373px;
	min-height: 36px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u8637-6
{
	z-index: 164;
	width: 373px;
	min-height: 99px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u8196
{
	z-index: 66;
	width: 243px;
	-pie-box-shadow: 7px 7px 20px #A5A5A5;
	-moz-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 7px 7px 20px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.35);
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	padding-bottom: 33px;
	margin-left: 26px;
	position: relative;
}

#u8196:hover
{
	-pie-box-shadow: 0px 0px 20px #A5A5A5;
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
	background-color: #000000;
	margin: 0px 0px 0px 26px;
}

#u8201-4
{
	z-index: 77;
	width: 212px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#pamphletu8779
{
	z-index: 170;
	width: 0.01px;
	height: 220px;
	padding-bottom: 111px;
	margin-left: 183px;
	margin-top: 84px;
	position: relative;
}

#u8793
{
	position: absolute;
	width: 408px;
	background-color: transparent;
	left: 263px;
}

#u8793popup
{
	z-index: 171;
}

#u8801
{
	z-index: 172;
	width: 378px;
	height: 201px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 20px 10px 110px 20px;
}

#u8804-7
{
	z-index: 173;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	position: relative;
}

#u8804-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: 700;
}

#u8806
{
	z-index: 178;
	width: 130px;
	background-color: transparent;
}

#u8804-5
{
	line-height: 20px;
	color: #999999;
	font-weight: 400;
}

#pu8803-3
{
	width: 0.01px;
	margin-left: 283px;
	margin-top: 19px;
}

#u8803-3
{
	z-index: 183;
	width: 94px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8803-3:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 94px;
	margin: 0px -10000px -1px 0px;
}

#u8802-5
{
	z-index: 186;
	width: 89px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#u8794
{
	z-index: 191;
	width: 377px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 21px 10px 110px 21px;
}

#u8797-8
{
	z-index: 200;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u8799
{
	z-index: 205;
	width: 130px;
	background-color: transparent;
}

#pu8795-3
{
	width: 0.01px;
	margin-left: 282px;
	margin-top: 4px;
}

#u8795-3
{
	z-index: 192;
	width: 94px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8796-5
{
	z-index: 195;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#u8822
{
	z-index: 211;
	width: 377px;
	height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 21px 10px 110px 21px;
}

#u8825-8
{
	z-index: 220;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u8827
{
	z-index: 225;
	width: 130px;
	background-color: transparent;
}

#pu8823-3
{
	width: 0.01px;
	margin-left: 282px;
	margin-top: 18px;
}

#u8823-3
{
	z-index: 212;
	width: 94px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8824-5
{
	z-index: 215;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u8808
{
	z-index: 231;
	width: 365px;
	height: 202px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 20px 23px 109px 20px;
}

#u8811-8
{
	z-index: 232;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u8797-3,#u8825-3,#u8811-3
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8797,#u8825,#u8811
{
	font-size: 18px;
}

#u8813
{
	z-index: 237;
	width: 130px;
	background-color: transparent;
}

#u8797-2,#u8825-2,#u8811-2
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 22px;
}

#u8797-4,#u8825-4,#u8811-4
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu8810-3
{
	width: 0.01px;
	margin-left: 270px;
	margin-top: 19px;
}

#u8810-3
{
	z-index: 243;
	width: 94px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8809-5
{
	z-index: 246;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 3px;
}

#u8815
{
	z-index: 251;
	width: 378px;
	height: 201px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 20px 10px 110px 20px;
}

#u8816-7
{
	z-index: 252;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u8816-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u8805,#u8798,#u8826,#u8812,#u8817
{
	float: left;
	margin-right: 17px;
}

#u8818
{
	z-index: 257;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8806_img,#u8799_img,#u8827_img,#u8813_img,#u8818_img
{
	padding-right: 2px;
	padding-bottom: 1px;
}

#u8258-2,#u8816-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#pu8820-3
{
	width: 0.01px;
	margin-left: 283px;
	margin-top: 18px;
}

#u8820-3
{
	z-index: 262;
	width: 94px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8821-5
{
	z-index: 265;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#u8780
{
	z-index: 270;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u8783
{
	position: absolute;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-bottom: 10px;
	top: 37px;
	left: -10px;
}

#u8783:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px;
}

#u8783.PamphletThumbSelected
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u8784-4
{
	z-index: 272;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u8783:hover #u8784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u8783:hover #u8784-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u8783.PamphletThumbSelected #u8784-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8787
{
	position: absolute;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-bottom: 10px;
	top: 179px;
	left: -10px;
}

#u8787:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px;
}

#u8788-4
{
	z-index: 277;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u8783.PamphletThumbSelected #u8784-4,#u8787:hover #u8788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u8787:hover #u8788-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u8785
{
	position: absolute;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-bottom: 9px;
	top: 133px;
	left: -10px;
}

#u8785:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px;
}

#u8786-4
{
	z-index: 282;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u8785:hover #u8786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u8785.PamphletThumbSelected #u8786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u8785:hover #u8786-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u8781
{
	position: absolute;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-bottom: 10px;
	top: 85px;
	left: -10px;
}

#u8781:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px;
}

#u8782-4
{
	z-index: 287;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u8787.PamphletThumbSelected #u8788-4,#u8781:hover #u8782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u8781.PamphletThumbSelected #u8782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u8781:hover #u8782-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u8789
{
	position: absolute;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-bottom: 9px;
	top: -11px;
	left: -10px;
}

#u8789:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px;
}

#u8787.PamphletThumbSelected,#u8785.PamphletThumbSelected,#u8781.PamphletThumbSelected,#u8789.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u8790-4
{
	z-index: 292;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u8789:hover #u8790-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u8789.PamphletThumbSelected #u8790-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u8789:hover #u8790-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u8787.PamphletThumbSelected #u8788-4 p,#u8785.PamphletThumbSelected #u8786-4 p,#u8781.PamphletThumbSelected #u8782-4 p,#u8789.PamphletThumbSelected #u8790-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu9001
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: -15px;
}

#u9001
{
	z-index: 296;
	width: 142px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #CBC8C8 url("../images/noah-u9001-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u9001
{
	background-image: url("../images/noah-u9001-fr_2x.jpg");
}

#u9002-6
{
	z-index: 297;
	width: 517px;
	min-height: 62px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u9006-4
{
	z-index: 309;
	width: 517px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9007-6
{
	z-index: 303;
	width: 517px;
	min-height: 85px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu9008
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 4px;
}

#u9008
{
	z-index: 313;
	width: 142px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #CBC8C8 url("../images/dsc_0048jpg-u8635-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u8635,.hidpi #u9008
{
	background-image: url("../images/dsc_0048jpg-u8635-fr_2x.jpg");
}

#u9005-6
{
	z-index: 314;
	width: 517px;
	min-height: 62px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u9003-4
{
	z-index: 326;
	width: 517px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9004-6
{
	z-index: 320;
	width: 517px;
	min-height: 85px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu9533
{
	width: 0.01px;
	margin-left: 470px;
	margin-top: 132px;
}

#u9533
{
	z-index: 330;
	width: 120px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #CBC8C8 url("../images/noah-u9631-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u9533
{
	background-image: url("../images/noah-u9631-fr_2x.jpg");
}

#u9534-6
{
	z-index: 331;
	width: 517px;
	min-height: 62px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u9535-4
{
	z-index: 343;
	width: 517px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9537-6
{
	z-index: 337;
	width: 517px;
	min-height: 85px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu9536
{
	width: 0.01px;
	margin-left: 473px;
	margin-top: -10px;
}

#u9536
{
	z-index: 347;
	width: 120px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #CBC8C8 url("../images/dsc_0048jpg-u9536-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u9536
{
	background-image: url("../images/dsc_0048jpg-u9536-fr_2x.jpg");
}

#u9539-6
{
	z-index: 348;
	width: 517px;
	min-height: 62px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u9540-4
{
	z-index: 360;
	width: 517px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9538-6
{
	z-index: 354;
	width: 517px;
	min-height: 65px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu9541-8
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 191px;
}

#u9541-8
{
	z-index: 119;
	width: 168px;
	min-height: 152px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9542-8
{
	z-index: 127;
	width: 180px;
	min-height: 164px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u9543-8
{
	z-index: 135;
	width: 180px;
	min-height: 164px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u9543-4
{
	font-size: 24px;
	line-height: 29px;
	color: #F7931E;
}

#u8797-6,#u8825-6,#u8811-6,#u9543-6
{
	line-height: 20px;
	color: #999999;
}

#u9544-8
{
	z-index: 143;
	width: 180px;
	min-height: 164px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u9545-8
{
	z-index: 151;
	width: 180px;
	min-height: 164px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u9541-3,#u9542-3,#u9544-3,#u9545-3
{
	font-size: 24px;
	line-height: 29px;
	color: #F7931E;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u8816-5,#u9541-5,#u9542-5,#u9544-5,#u9545-5
{
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u9591
{
	z-index: 364;
	width: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 25px;
	position: relative;
}

#pu9593
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u9593
{
	z-index: 365;
	width: 142px;
	height: 142px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/noah-u9593-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u9597-5
{
	z-index: 366;
	width: 142px;
	min-height: 57px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
}

#u9600-6
{
	z-index: 371;
	width: 142px;
	min-height: 171px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 18px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu9002-6,#pu9005-6,#pu9534-6,#pu9539-6,#pu9596
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 154px;
}

#u9596
{
	z-index: 377;
	width: 142px;
	height: 142px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/noah-u9593-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u9599-5
{
	z-index: 378;
	width: 142px;
	min-height: 97px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 7px;
	position: relative;
}

#u9598-6
{
	z-index: 391;
	width: 142px;
	min-height: 68px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 18px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu9594
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 308px;
}

#u9594
{
	z-index: 383;
	width: 142px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/noah-u9593-fr.jpg") no-repeat left center;
	background-size: cover;
}

.hidpi #u9593,.hidpi #u9596,.hidpi #u9594
{
	background-image: url("../images/noah-u9593-fr_2x.jpg");
}

#u9595-7
{
	z-index: 384;
	width: 142px;
	min-height: 47px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u9592-6
{
	z-index: 397;
	width: 142px;
	min-height: 68px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 18px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 44px;
}

#page .verticalspacer
{
	clear: both;
}

