#u3033-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2999-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3015-4,#u3009-4,#u2973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2978-4,#u2989-4,#u2994-4,#u2959-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3039-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2966-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3166-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3168-4,#u3167-31,#u3167,#u3167-28
{
	font-family: open-sans-n4, sans-serif;
}

