#u3144-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3103-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3110-4,#u3118-4,#u3061-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3082-4,#u3068-4,#u3076-4,#u3126-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3090-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3096-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3222-4,#u3224-4,#u3225-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3223-4,#u3223,#u3232-4,#u3220-33,#u3220,#u3220-28
{
	font-family: open-sans-n4, sans-serif;
}

