.version.index /* version checker */
{
	color: #000012;
	background-color: #FB4770;
}

.html
{
	background: #FFFFFF url("../images/hom-sabbia.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../images/hom-sabbia_2x.jpg");
	background-size: 300px 300px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1136px;
	-pie-box-shadow: 0px 0px 10px #7F7F7F;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
}

#menuu2153
{
	z-index: 2;
	width: 423px;
	margin-left: 537px;
}

#u2161
{
	width: 60px;
	min-height: 40px;
	margin-right: -10000px;
}

#u2164
{
	width: 60px;
	padding-bottom: 23px;
}

#u2164:hover
{
	margin: 0px;
}

#u2164:active
{
	margin: 0px;
}

#u2167-4
{
	width: 42px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 9px;
}

#u2164:hover #u2167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2164:active #u2167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2154
{
	width: 82px;
	min-height: 40px;
	margin-right: -10000px;
	left: 62px;
}

#u2155
{
	width: 82px;
	padding-bottom: 23px;
}

#u2164.MuseMenuActive,#u2155:hover
{
	margin: 0px;
}

#u2155:active
{
	margin: 0px;
}

#u2156-4
{
	width: 51px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2164.MuseMenuActive #u2167-4,#u2155:hover #u2156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2155:active #u2156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2158
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 59px;
}

#u2155:hover #u2158
{
	margin: 0px -10000px 0px 0px;
}

#u2155:active #u2158
{
	margin: 0px -10000px 0px 0px;
}

#u2159
{
	width: 143px;
	top: 40px;
}

#u2722
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2155.MuseMenuActive #u2158,#u2722:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2724-4
{
	width: 102px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u2160,#u2721,#u2734
{
	width: 143px;
}

#u2735
{
	width: 143px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2722.MuseMenuActive,#u2735:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2738-4
{
	width: 119px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 8px;
}

#u2200
{
	width: 95px;
	min-height: 40px;
	margin-right: -10000px;
	left: 146px;
}

#u2203
{
	width: 95px;
	padding-bottom: 23px;
}

#u2155.MuseMenuActive,#u2203:hover
{
	margin: 0px;
}

#u2203:active
{
	margin: 0px;
}

#u2206-4
{
	width: 64px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2155.MuseMenuActive #u2156-4,#u2203:hover #u2206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2203:active #u2206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2205
{
	z-index: 36;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 13px;
	left: 72px;
}

#u2735.MuseMenuActive,#u2203:hover #u2205
{
	margin: 0px -10000px 0px 0px;
}

#u2203:active #u2205
{
	margin: 0px -10000px 0px 0px;
}

#u2201
{
	width: 162px;
	top: 40px;
}

#u2742
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2203.MuseMenuActive #u2205,#u2742:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2744-4
{
	width: 116px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u2752
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2742.MuseMenuActive,#u2752:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2755-4
{
	width: 133px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u2202,#u2741,#u2751,#u2940
{
	width: 162px;
}

#u2943
{
	width: 162px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2752.MuseMenuActive,#u2943:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2943.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2946-4
{
	width: 132px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 11px;
}

#u2193
{
	width: 58px;
	min-height: 40px;
	margin-right: -10000px;
	left: 243px;
}

#u2196
{
	width: 58px;
	padding-bottom: 23px;
}

#u2203.MuseMenuActive,#u2196:hover
{
	margin: 0px;
}

#u2196:active
{
	margin: 0px;
}

#u2197-4
{
	width: 41px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2203.MuseMenuActive #u2206-4,#u2196:hover #u2197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2196:active #u2197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2168
{
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
	left: 303px;
}

#u2171
{
	width: 48px;
	padding-bottom: 23px;
}

#u2196.MuseMenuActive,#u2171:hover
{
	margin: 0px;
}

#u2171:active
{
	margin: 0px;
}

#u2172-4
{
	width: 31px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2196.MuseMenuActive #u2197-4,#u2171:hover #u2172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2171:active #u2172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2186
{
	width: 70px;
	min-height: 40px;
	margin-right: -10000px;
	left: 353px;
}

#u2187
{
	width: 70px;
	padding-bottom: 23px;
}

#u2171.MuseMenuActive,#u2187:hover
{
	margin: 0px;
}

#u2187:active
{
	margin: 0px;
}

#u2187.MuseMenuActive
{
	margin: 0px;
}

#u2189-4
{
	width: 53px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
	left: 8px;
}

#u2171.MuseMenuActive #u2172-4,#u2187:hover #u2189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2187:active #u2189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2187.MuseMenuActive #u2189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu3355
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
}

#u3355
{
	z-index: 78;
	width: 477px;
	margin-right: -10000px;
}

#u2345
{
	z-index: 271;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 766px;
}

#u2345_clip
{
	overflow: hidden;
	width: 30px;
	height: 30px;
}

#u2345_img
{
	margin-right: -3px;
	margin-bottom: -3px;
}

#u2369
{
	z-index: 275;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 806px;
}

#u2351
{
	z-index: 273;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 845px;
}

#u2383
{
	z-index: 277;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 885px;
}

#pu2328
{
	width: 0.01px;
	margin-top: 16px;
}

#u2328
{
	z-index: 77;
	width: 960px;
	height: 380px;
	margin-right: -10000px;
}

#slideshowu1442
{
	z-index: 80;
	width: 0.01px;
	height: 380px;
	position: relative;
	margin-right: -10000px;
}

#u1443
{
	position: absolute;
	width: 960px;
	height: 380px;
	background-color: transparent;
}

#u1443popup
{
	z-index: 81;
}

#u1448
{
	z-index: 82;
	width: 960px;
	height: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1444
{
	z-index: 84;
	width: 960px;
	height: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1446
{
	z-index: 86;
	width: 960px;
	height: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1450
{
	z-index: 88;
	width: 960px;
	height: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pamphletu1846
{
	z-index: 90;
	width: 0.01px;
	height: 428px;
	position: relative;
	margin-right: -10000px;
	left: 577px;
}

#u1851
{
	z-index: 91;
	width: 291px;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 38px;
}

#u1852
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u1852
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1852:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u1852:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1852.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u1854
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 77px;
}

.ie #u1852.PamphletThumbSelected,.ie #u1854
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1854:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u1854:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1854.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u1853
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 154px;
}

.ie #u1854.PamphletThumbSelected,.ie #u1853
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1853:hover
{
	border-color: #6B6B6B;
	margin: 0px;
}

.ie #u1853:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1853.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u1871
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 231px;
}

.ie #u1853.PamphletThumbSelected,.ie #u1871
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1871:hover
{
	border-color: #6B6B6B;
	margin: 0px;
}

.ie #u1871:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1871.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1871.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1855
{
	position: absolute;
	width: 331px;
}

#u1855popup
{
	z-index: 96;
}

#u1858
{
	z-index: 97;
	width: 298px;
	height: 342px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	padding: 26px 19px 12px 14px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u2084-6
{
	z-index: 98;
	width: 296px;
	min-height: 138px;
	line-height: 58px;
	color: #FCEE21;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	position: relative;
}

#u2084-2
{
	font-size: 61px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 73px;
}

#u2084,#u2084-3
{
	line-height: 58px;
}

#u2083-11
{
	z-index: 104;
	width: 298px;
	min-height: 101px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 103px;
	position: relative;
}

#u2083-8
{
	color: #FCEE21;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1856
{
	z-index: 115;
	width: 296px;
	height: 345px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	padding: 18px 23px 17px 12px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u2087-7
{
	z-index: 116;
	width: 296px;
	min-height: 171px;
	color: #FCEE21;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2087-2
{
	font-size: 75px;
	line-height: 90px;
}

#u2087-5
{
	font-size: 48px;
	line-height: 58px;
}

#u2088-6
{
	z-index: 123;
	width: 283px;
	min-height: 79px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 13px;
	margin-top: 95px;
	position: relative;
}

#u1857
{
	z-index: 129;
	width: 302px;
	height: 346px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	padding: 16px 22px 18px 7px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u2092-8
{
	z-index: 130;
	width: 302px;
	min-height: 132px;
	color: #FCEE21;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: -1px;
	position: relative;
}

#u2092-4
{
	font-size: 46px;
	line-height: 55px;
}

#u2092-2
{
	font-size: 46px;
}

#u2092-6
{
	font-size: 57px;
	line-height: 68px;
}

#u2087-4,#u2092-5
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u2093-4
{
	z-index: 138;
	width: 290px;
	min-height: 105px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 12px;
	margin-top: 109px;
	position: relative;
}

#u1872
{
	z-index: 142;
	width: 294px;
	height: 344px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	padding: 16px 22px 20px 15px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u2096-6
{
	z-index: 143;
	width: 290px;
	min-height: 131px;
	line-height: 48px;
	color: #FCEE21;
	font-size: 40px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	position: relative;
}

#u2084-4,#u2096-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2096
{
	line-height: 48px;
}

#u2096-2
{
	font-size: 40px;
	line-height: 48px;
}

#u2096-3
{
	font-size: 67px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 80px;
}

#u2097-4
{
	z-index: 149;
	width: 294px;
	min-height: 127px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 86px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#ppu2326
{
	width: 0.01px;
	margin-top: -48px;
}

#pu2326
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 256px;
}

#u2326
{
	z-index: 75;
	width: 1px;
	height: 480px;
	margin-right: -10000px;
	left: 450px;
}

#u2285
{
	z-index: 153;
	width: 64px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 18px;
	background: #FFFFFF url("../images/1097254_701378106552339_4118672191041205867_o-u2285-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2286-6
{
	z-index: 154;
	width: 355px;
	min-height: 22px;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 95px;
}

#u2287-4
{
	z-index: 160;
	width: 355px;
	min-height: 17px;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 95px;
}

#u2288-6
{
	z-index: 164;
	width: 355px;
	min-height: 68px;
	color: #7F7F7F;
	font-size: 14px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 95px;
}

#u2289
{
	z-index: 170;
	width: 64px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 18px;
	background: #FFFFFF url("../images/1277417_606542429369241_1971740491_o-u2289-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2290-6
{
	z-index: 171;
	width: 355px;
	min-height: 22px;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 95px;
}

#u2291-4
{
	z-index: 177;
	width: 355px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 95px;
}

#u2293
{
	z-index: 181;
	width: 64px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 18px;
	background: #FFFFFF url("../images/1276356_602970326393118_1831605645_o-u2293-fr.jpg") no-repeat left center;
	background-size: cover;
}

#u2294-8
{
	z-index: 182;
	width: 355px;
	min-height: 47px;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 95px;
}

#u2295-4
{
	z-index: 190;
	width: 355px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 95px;
}

#u2325-4
{
	z-index: 194;
	width: 450px;
	min-height: 31px;
	line-height: 26px;
	color: #1B1464;
	font-size: 22px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2331-6
{
	z-index: 198;
	width: 355px;
	min-height: 68px;
	color: #7F7F7F;
	font-size: 14px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 95px;
}

#u2332-6
{
	z-index: 204;
	width: 355px;
	min-height: 68px;
	color: #7F7F7F;
	font-size: 14px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 95px;
}

#u2335-4
{
	z-index: 210;
	width: 130px;
	min-height: 17px;
	line-height: 16px;
	font-size: 13px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 448px;
	left: 308px;
}

#pu2324-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 718px;
}

#u2324-4
{
	z-index: 262;
	width: 219px;
	min-height: 31px;
	line-height: 26px;
	color: #1B1464;
	font-size: 22px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2313-4
{
	z-index: 218;
	width: 219px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 10px;
	position: relative;
}

#u2312-4
{
	z-index: 214;
	width: 219px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u2315-4
{
	z-index: 226;
	width: 218px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 25px;
	position: relative;
}

#u2314-4
{
	z-index: 222;
	width: 218px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	position: relative;
}

#u2317-4
{
	z-index: 234;
	width: 218px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 30px;
	position: relative;
}

#u2316-4
{
	z-index: 230;
	width: 218px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	margin-top: 1px;
	position: relative;
}

#u2319-4
{
	z-index: 242;
	width: 217px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 29px;
	position: relative;
}

#u2318-4
{
	z-index: 238;
	width: 217px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	margin-top: 1px;
	position: relative;
}

#u2321-4
{
	z-index: 250;
	width: 217px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 30px;
	position: relative;
}

#u2320-4
{
	z-index: 246;
	width: 217px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	position: relative;
}

#u2323-4
{
	z-index: 258;
	width: 217px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 21px;
	position: relative;
}

#u2322-4
{
	z-index: 254;
	width: 217px;
	min-height: 22px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 17px;
	margin-top: 1px;
	position: relative;
}

#u2337-4
{
	z-index: 266;
	width: 142px;
	min-height: 17px;
	line-height: 16px;
	font-size: 13px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 77px;
	margin-top: 26px;
	position: relative;
}

#u2327
{
	z-index: 76;
	width: 1px;
	height: 480px;
	margin-right: -10000px;
	left: 242px;
}

#u2277
{
	z-index: 279;
	width: 243px;
	border-color: #000000;
	background-color: #C1272D;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u2280-4
{
	z-index: 282;
	width: 154px;
	min-height: 43px;
	line-height: 38px;
	color: #FFFFFF;
	font-size: 32px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 48px;
}

#u2278
{
	z-index: 280;
	width: 243px;
	border-color: #000000;
	background-color: #FBB03B;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
}

#u2281-4
{
	z-index: 286;
	width: 154px;
	min-height: 43px;
	line-height: 38px;
	color: #FFFFFF;
	font-size: 32px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 46px;
}

#u2279
{
	z-index: 281;
	width: 243px;
	border-color: #000000;
	background-color: #0071BC;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
}

#u2282-4
{
	z-index: 290;
	width: 172px;
	min-height: 40px;
	line-height: 38px;
	color: #FFFFFF;
	font-size: 32px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 40px;
}

#u2555
{
	z-index: 294;
	width: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 24px;
}

#u2555_position_content
{
	margin-bottom: -2px;
	padding-top: 10px;
}

#u2556-7
{
	z-index: 295;
	width: 165px;
	min-height: 45px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 12px;
	position: relative;
}

#u2556-3
{
	font-size: 20px;
	line-height: 24px;
}

#u2556-5
{
	font-size: 14px;
	color: #F7931E;
}

#u2556-2,#u2556-4
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u2558
{
	z-index: 302;
	width: 192px;
	height: 90px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 4px;
	position: relative;
	background: #FFFFFF url("../images/newspaper_shutterstock_124029454-u2558-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u3312
{
	z-index: 270;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	padding-bottom: 33px;
	margin-top: 1px;
	position: relative;
}

#ppu2531
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 24px;
}

#pu2531
{
	width: 0.01px;
}

#u2531
{
	z-index: 303;
	width: 38px;
	position: relative;
	margin-right: -10000px;
}

#u2535
{
	z-index: 307;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 51px;
}

#u2535_img
{
	padding-right: 1px;
}

#u2533
{
	z-index: 305;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 127px;
}

#u2537-4
{
	z-index: 309;
	width: 218px;
	min-height: 54px;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u2552-18
{
	z-index: 313;
	width: 288px;
	min-height: 158px;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 305px;
}

#u2552-4,#u2552-6,#u2552-8,#u2552-10,#u2552-12,#u2552-14,#u2552-16
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu2553-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 628px;
}

#u2553-11
{
	z-index: 331;
	width: 295px;
	min-height: 71px;
	color: #FFFFFF;
	position: relative;
}

#u2553-5
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u2553
{
	color: #FBB03B;
	font-weight: 700;
}

#u2553-3
{
	font-weight: 700;
}

#u2553-4,#u2553-7,#u2553-9
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2554-12
{
	z-index: 342;
	width: 308px;
	min-height: 76px;
	margin-top: 22px;
	position: relative;
}

#u2552-2,#u2554-2
{
	color: #FBB03B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2554-4,#u2554-6,#u2554-8,#u2554-10
{
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 39px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

