<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <system.net>
        <mailSettings>
            <smtp>
                <network xdt:Transform="SetAttributes" host="mail.insitemessages.com" />
            </smtp>
        </mailSettings>
    </system.net>
    
    <system.web>

        <compilation xdt:Transform="RemoveAttributes(debug)" />

        <customErrors mode="Off" />
        
    </system.web>

    <system.webServer>
        <rewrite>
            <rules>
                <rule xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Redirect: Force HTTPS" enabled="true" />
                <rule xdt:Transform="Replace" xdt:Locator="Match(name)" name="Redirect: Login" stopProcessing="true">
                    <match url="^login\.html$" />
                    <action type="Redirect" url="https://iris.shiftiq.com/Pages/Login.aspx" appendQueryString="false" />
                </rule>
                <rule xdt:Transform="Replace" xdt:Locator="Match(name)" name="Redirect: Register" stopProcessing="true">
                    <match url="^register\.html$" />
                    <action type="Redirect" url="http://iris.shiftiq.com/Pages/Public/RegisterUser.aspx" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
