<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>

        <add key="aspnet:MaxHttpCollectionKeys" value="2000" />

        <add key="Application.Attachments.RelativePath" value="~/Downloads/System" />
        <add key="Application.DefaultUrl" value="/" />
        <add key="Application.CustomCssFileUrl" value="/Settings/Style.css" />
        <add key="Application.MenuUrl" value="~/Controls/Menus/Main.ascx" />
        <add key="Application.Environment" value="Local" />
        <add key="Application.Name" value="Shift iQ" />
        <add key="Application.FilePath" value="D:\Code\Companies\Keyera\Solutions\Shift.Web.Application" />
        <add key="Application.WebSiteUrl" value="http://local.shiftiq.com" />
        <add key="Application.GlossaryName" value="Education and Training Policy" />

        <add key="Company.Email.Administrators" value="sales2014@insitesystems.com" />
        <add key="Company.Email.Administrators.DisplayName" value="Shift Administration" />
        <add key="Company.Email.Programmers" value="daniel.miller@insitesystems.com" />
        <add key="Company.LogoImageUrl" value="/Images/Logos/Shift.png" />
        <add key="Company.Name" value="Shift iQ" />
        <add key="Company.WebSiteUrl" value="http://local.shiftiq.com" />

        <add key="ConnectionStrings.Core" value="ConnectionStrings.InSite" />

        <add key="ReportServer.Domain" value="MORPHEUS" />
        <add key="ReportServer.UserName" value="Reporter" />
        <add key="ReportServer.Password" value="BlackB!rd4" />
        <add key="ReportServer.Folder" value="/Local/Shift/" />
        <add key="ReportServer.Url" value="http://SOL/ReportServer" />

        <add key="Security.Login.CaseSensitive" value="false" />
        <add key="Security.Login.DefaultPassword" value="BlueSky388" />

        <add key="Shift.Competencies.LevelsEnabled" value="true" />
        <add key="Shift.Courses.MinimumPassingGrade" value="90" />
        <add key="Shift.Database.Backup.PhysicalPath" value="C:\InSite\Data\Files\Local\Shift\Backups" />

        <add key="WebControls.BaseSelector.DefaultWidthInDesktop" value="254" />
        <add key="WebControls.BaseSelector.EnableEmbeddedSkins" value="false" />
        <add key="WebControls.BaseSelector.RedirectOnRequestFailed" value="/login.html?loginrequired=yes&amp;ReturnUrl={0}" />
        <add key="WebControls.BaseSelector.Skin" value="Keyera" />
        <add key="WebControls.Validator.ErrorImageUrl" value="/Images/Statuses/Dot-Red.png" />

        <add key="WebModules.CrashReport.Enabled" value="False" />
        <add key="WebModules.CrashReport.Email.Address" value="daniel.miller@insitesystems.com" />
        <add key="WebModules.CrashReport.Email.Enabled" value="False" />
        <add key="WebModules.CrashReport.FilePath" value="C:\InSite\Data\Errors" />

        <add key="MailServer.Enabled" value="true" />

    </appSettings>
    
    <system.net>
        <mailSettings>
            <smtp from="no-reply@shiftiq.com">
                <network host="shawmail.cg.shawcable.net" />
            </smtp>
        </mailSettings>
    </system.net>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    
  <system.web>

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI, Version=2014.1.403.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
        <add tagPrefix="telerik" namespace="Telerik.Charting" assembly="Telerik.Web.UI, Version=2014.1.403.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
        <add tagPrefix="shift" namespace="Seminary" assembly="Seminary"/>
        <add tagPrefix="iris" namespace="Iris.Web.UI" assembly="Iris"/>
        <add tagPrefix="kernel" namespace="Kernel.Web.UI" assembly="Kernel"/>
        <add tagPrefix="site" namespace="Seminary.Framework" assembly="Seminary"/>
      </controls>
      <namespaces>
        <add namespace="Kernel"/>
        <add namespace="Iris.Services"/>
        <add namespace="Iris.Web"/>
      </namespaces>
    </pages>

    <authorization>
      <allow users="*"/>
    </authorization>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Telerik.Web.UI, Version=2014.1.403.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      </assemblies>
    </compilation>

    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/Pages/Public/Error404.aspx"/>
      <error statusCode="500" redirect="/Pages/Public/Error500.aspx"/>
    </customErrors>

    <httpRuntime maxRequestLength="524288" requestValidationMode="2.0" />

  </system.web>

  <system.webServer>

    <handlers>
      <add verb="GET,HEAD,POST" preCondition="integratedMode" name="Telerik_Web_UI_ChartImageHandler" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>
      <add verb="*" preCondition="integratedMode" name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler"/>
      <add verb="*" preCondition="integratedMode" name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add verb="*" preCondition="integratedMode" name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler"/>
      <add verb="*" preCondition="integratedMode" name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>

    <modules>
      <add name="CrashReportModule" type="Kernel.Web.CrashReportModule,Kernel" />
    </modules>

    <rewrite>

      <rules>

        <rule name="Rewrite: No page to index page" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index.html" />
        </rule>

        <rule name="Redirect: Register" stopProcessing="true">
          <match url="^register\.html$" />
          <action type="Redirect" url="http://local-iris.insitesystems.com/Pages/Public/RegisterUser.aspx" appendQueryString="false" />
        </rule>

        <rule name="Rewrite: *.html to view-html-page">
          <match url="^.+\.html$" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
          <action type="Rewrite" url="/Default.aspx?action=view-html&amp;name={R:0}" />
        </rule>

      </rules>

    </rewrite>

  </system.webServer>

  <!-- Authorization Overrides -->
    
  <location path="ScriptResource.axd"><system.web><authorization><allow users="*"/></authorization></system.web></location>
  <location path="Telerik.Web.UI.WebResource.axd"><system.web><authorization><allow users="*"/></authorization></system.web></location>
  <location path="WebResource.axd"><system.web><authorization><allow users="*"/></authorization></system.web></location>

</configuration>
