<?xml version="1.0"?>
<configuration>
    <connectionStrings/>
    <appSettings configSource="App_Data\AppSettings.config"/>
    <system.web>
        <authentication mode="Forms">
            <forms defaultUrl="~/" loginUrl="~/signin.html" protection="All" timeout="60">
                <credentials passwordFormat="Clear">
                    <user name="local" password="password"/>
                </credentials>
            </forms>
        </authentication>
        <compilation debug="true" targetFramework="4.5" defaultLanguage="c#">
            <assemblies>
                <add assembly="Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>
        <httpHandlers>
            <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
            <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
            <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
            <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
            <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
        </httpModules>
        <httpRuntime requestValidationMode="2.0"/>
        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false">
            <controls>
                <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
                <add tagPrefix="csbs" namespace="Csbs.Web.UI" assembly="CSBS"/>
            </controls>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
            <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
            <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
            <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
            <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="Chapel: Rewrite HTML to ASPX">
                    <match url="(pages/seminarylink/chapel/default.html)|(chapel.html)"/>
                    <action type="Rewrite" url="/pages/viewcontrol.aspx?action=view-chapel&amp;semester=2013+Fall"/>
                </rule>
                <rule name="Audios: Redirect all MP3 requests to /Media/Audios">
                    <match url="(.*)/(.*)\.mp3$"/>
                    <conditions>
                        <add input="{URL}" pattern="Media/Audios/" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/Media/Audios/{R:2}.mp3"/>
                </rule>
                <rule name="Documents: Redirect all PDF and DOC requests to /Media/Documents">
                    <match url="(.*)/(.*)\.(doc|docx|pdf)$"/>
                    <conditions>
                        <add input="{URL}" pattern="Media/Documents/" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/Media/Documents/{R:2}.{R:3}"/>
                </rule>
                <rule name="Flash: Redirect all FLV and SWF requests to /Media/Flash">
                    <match url="(.*)/(.*)\.(flv|swf)$"/>
                    <conditions>
                        <add input="{URL}" pattern="Media/Flash/" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/Media/Flash/{R:2}.{R:3}"/>
                </rule>
                <rule name="No Page" stopProcessing="true">
                    <match url="^$"/>
                    <action type="Rewrite" url="Pages/home.aspx"/>
                </rule>
                <rule name="Home Page" stopProcessing="true">
                    <match url="^(index\.html|default\.html)$"/>
                    <action type="Rewrite" url="Pages/home.aspx"/>
                </rule>
                <rule name="Html Pages" stopProcessing="true">
                    <match url="^pages/([^/]+)/([^/]+)/([^/]+)\.html$"/>
                    <action type="Rewrite" url="Pages/view.aspx?name={R:1}.{R:2}.{R:3}"/>
                </rule>
                <rule name="ContactUs Form" stopProcessing="true">
                    <match url="^contact-(.*)\.html$"/>
                    <action type="Rewrite" url="Pages/contactus.aspx?form={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Articles Home Page" stopProcessing="true">
                    <match url="^articles/(index\.html)?$"/>
                    <action type="Rewrite" url="Pages/articles/articles.aspx"/>
                </rule>
                <rule name="Articles Pages" stopProcessing="true">
                    <match url="^articles/([^/]+)/([^/]+)\.html$"/>
                    <action type="Rewrite" url="Pages/articles/entries.aspx?name={R:1}.{R:2}"/>
                </rule>
                <rule name="SignIn" stopProcessing="true">
                    <match url="^signin\.html$"/>
                    <action type="Rewrite" url="Pages/signin.aspx"/>
                </rule>
                <rule name="SignOut" stopProcessing="true">
                    <match url="^signout\.html$"/>
                    <action type="Rewrite" url="Pages/signout.aspx"/>
                </rule>
                <rule name="Redirect rule for Old Site Redirect">
                    <match url=".*"/>
                    <conditions>
                        <add input="{Old Site Redirect:{REQUEST_URI}}" pattern="(.+)"/>
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false"/>
                </rule>
                <rule name="Old Site Redirect (Forms)" stopProcessing="true">
                    <match url="^Pages/(bookstore|business|nehemiah|development|housing|library|pr|registrar|enlistment|webmaster|dlc)(_confirm)?\.asp$"/>
                    <action type="Redirect" url="contact-{R:1}.html"/>
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Old Site Redirect">
                    <add key="/chapel" value="/pages/seminarylink/chapel/default.html"/>
                    <add key="/chapel/" value="/pages/seminarylink/chapel/default.html"/>
                    <add key="/chapel/chapel_F2010.asp" value="/pages/seminarylink/chapel/default.html"/>
                    <add key="/distance" value="/pages/seminarylink/distance/default.html"/>
                    <add key="/distance/" value="/pages/seminarylink/distance/default.html"/>
                    <add key="/distance/commentaries.asp" value="/pages/seminarylink/distance/commentaries.html"/>
                    <add key="/distance/evaluateweb.asp" value="/pages/seminarylink/distance/evaluateweb.html"/>
                    <add key="/distance/faq.shtml" value="/pages/seminarylink/distance/faq.html"/>
                    <add key="/distance/language.asp" value="/pages/seminarylink/distance/language.html"/>
                    <add key="/distance/online_courses.asp" value="/pages/seminarylink/distance/online_courses.html"/>
                    <add key="/distance/ten_reasons.shtml" value="/pages/seminarylink/distance/ten_reasons.html"/>
                    <add key="/distance/web_resources.shtml" value="/pages/seminarylink/distance/web_resources.html"/>
                    <add key="/distance/writingguides.asp" value="/pages/seminarylink/distance/writingguides.html"/>
                    <add key="/library" value="/pages/seminarylink/library/default.html"/>
                    <add key="/library/" value="/pages/seminarylink/library/default.html"/>
                    <add key="/library/default.asp" value="/pages/seminarylink/library/default.html"/>
                    <add key="/library/lib_research_guide.asp" value="/pages/seminarylink/library/lib-research-guide.html"/>
                    <add key="/library/procedures.asp" value="/pages/seminarylink/library/.html"/>
                    <add key="/library/research_tips.asp" value="/pages/seminarylink/library/.html"/>
                    <add key="/library/services.asp" value="/pages/seminarylink/library/.html"/>
                    <add key="/library/staff.asp" value="/pages/seminarylink/library/.html"/>
                    <add key="/01_home/CSBS&amp;C.html" value="/"/>
                    <add key="/01_home/CSBS%26C.html" value="/"/>
                    <add key="/01_home/Contact_us.html" value="/pages/csbs/home/contact-us.html"/>
                    <add key="/01_home/Maintenance.html" value="/pages/csbs/sys/page-maintenance.html"/>
                    <add key="/01_home/SchoolPHOTOS.html" value="/pages/csbs/home/school-photos.html"/>
                    <add key="/01_home/articles/articles.html" value="/articles/"/>
                    <add key="/01_home/articles/Entries/2011/6/14_Looking_for_a_location_for_your_next_training%2C_planning_meeting%2C_or_retreat.html" value="/articles/2011-06-15/looking-for-a-location-for-your-next-training-planning-meeting-or-retreat.html"/>
                    <add key="/01_home/articles/Entries/2011/6/14_Looking_for_a_location_for_your_next_training,_planning_meeting,_or_retreat.html" value="/articles/2011-06-15/looking-for-a-location-for-your-next-training-planning-meeting-or-retreat.html"/>
                    <add key="/01_home/articles/Entries/2011/6/14_Congratulations_Graduates!.html" value="/articles/2011-06-15/congratulations-graduates.html"/>
                    <add key="/01_home/articles/Entries/2010/11/22_Students_wife_starts_a_Christian_preschool_at_CSBS%26C.html" value="/articles/2010-11-22/students-wife-starts-a-christian-preschool-at-csbs.html"/>
                    <add key="/01_home/articles/Entries/2010/11/22_Students_wife_starts_a_Christian_preschool_at_CSBS&amp;C.html" value="/articles/2010-11-22/students-wife-starts-a-christian-preschool-at-csbs.html"/>
                    <add key="/01_home/articles/Entries/2010/11/19_A_fond_farewell_and_a_warm_welcome.html" value="/articles/2010-11-19/a-fond-farewell-and-a-warm-welcome.html"/>
                    <add key="/01_home/articles/Entries/2010/6/9_Zeta_Hyunwoo_Lees_journey_to_Canada.html" value="/articles/2010-06-10/zeta-hyunwoo-lees-journey-to-canada.html"/>
                    <add key="/01_home/articles/Entries/2009/10/23_Seminary_continues_to_minister_to_graduates_after_leaving_campus.html" value="/articles/2009-10-23/seminary-continues-to-minister-to-graduates-after-leaving-campus.html"/>
                    <add key="/01_home/articles/Entries/2009/7/13_Training_Leaders_for_Tough_Places.html" value="/articles/2009-07-13/training-leaders-for-tough-places.html"/>
                    <add key="/01_home/articles/Entries/2009/7/12_Seminary_grads_urged_to_learn_who_they_are_in_Christ.html" value="/2009-07-19/seminary-grads-urged-to-learn-who-they-are-in-christ.html"/>
                    <add key="/02_about/Our_History_1.html" value="/pages/csbs/about/our-history-1.html"/>
                    <add key="/02_about/Our_History_2.html" value="/pages/csbs/about/our-history-2.html"/>
                    <add key="/02_about/Our_History_3.html" value="/pages/csbs/about/our-history-3.html"/>
                    <add key="/02_about/Our_Localization.html" value="/pages/csbs/about/our-localization.html"/>
                    <add key="/02_about/Our_Vision.html" value="/pages/csbs/about/our-vision.html"/>
                    <add key="/02_about/Statement_of_Faith.html" value="/pages/csbs/about/statement-of-faith.html"/>
                    <add key="/04_bookstore/Mountain_View.html" value="/pages/csbs/bookstore/mountain-view.html"/>
                    <add key="/06_partners/partners.html" value="/pages/csbs/partners/partners.html"/>
                    <add key="/08_csbs/Master_of_Arts_in_Biblical_Studies.html" value="/pages/csbs/csbs/master-of-arts-in-biblical-studies.html"/>
                    <add key="/08_csbs/Master_of_Arts_in_Christian_Ministry.html" value="/pages/csbs/csbs/master-of-arts-in-christian-ministry.html"/>
                    <add key="/08_csbs/Master_of_Divinity.html" value="/pages/csbs/csbs/master-of-divinity.html"/>
                    <add key="/08_csbs/Seminary_Faculty.html" value="/pages/csbs/csbs/seminary-faculty.html"/>
                    <add key="/08_csbs/Seminary_Intensives.html" value="/pages/csbs/csbs/seminary-intensives.html"/>
                    <add key="/09_cbc/Associate_Diploma_of_Christian_Ministries.html" value="/pages/csbs/cbc/associate-diploma-of-christian-ministries.html"/>
                    <add key="/09_cbc/Bachelor_of_Christian_Ministries.html" value="/pages/csbs/cbc/bachelor-of-christian-ministries.html"/>
                    <add key="/09_cbc/Certificate_of_Christian_Studies.html" value="/pages/csbs/cbc/certificate-of-christian-studies.html"/>
                    <add key="/09_cbc/College_Faculty.html" value="/pages/csbs/cbc/college-faculty.html"/>
                    <add key="/09_cbc/College_Intensives.html" value="/pages/csbs/cbc/college-intensives.html"/>
                    <add key="/09_cbc/Samuel_Program.html" value="/pages/csbs/cbc/samuel-program.html"/>
                    <add key="/10_admissions/College_Application_Roadmap.html" value="/pages/csbs/admissions/college-application-roadmap.html"/>
                    <add key="/10_admissions/Financial_Aid_for_New_Students.html" value="/pages/csbs/admissions/financial-aid-for-new-students.html"/>
                    <add key="/10_admissions/International_Students.html" value="/pages/csbs/admissions/international-students.html"/>
                    <add key="/10_admissions/Seminary_Application_Roadmap.html" value="/pages/csbs/admissions/seminary-application-roadmap.html"/>
                    <add key="/10_admissions/Student_Housing.html" value="/pages/csbs/admissions/student-housing.html"/>
                    <add key="/10_admissions/Tuition_%26_Fees.html" value="/pages/csbs/admissions/tuition-and-fees.html"/>
                    <add key="/10_admissions/Tuition_&amp;_Fees.html" value="/pages/csbs/admissions/tuition-and-fees.html"/>
                    <add key="/11_current/Academic_Calendar.html" value="/pages/csbs/current/academic-calendar.html"/>
                    <add key="/11_current/Financial_Aid_for_Current_Students.html" value="/pages/csbs/current/financial-aid-for-current-students.html"/>
                    <add key="/50_PR/Kids_Helping_Kids___Photos.html" value="/pages/csbs/pr/kids-helping-kids-photos.html"/>
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="no-reply@csbs.ca">
                <network host="shawmail.cg.shawcable.net"/>
            </smtp>
        </mailSettings>
    </system.net>
    <location path="Pages/admin">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
</configuration>