body {
    font-size: 15px;
    color: #584D4D;
    font-family: 'ArialMT','Arial',sans-serif;
    margin: 0px; 
    padding: 0px;
}

img {
    border: none;
}

p {
    margin: 0 0 15px 0;
    text-align: justify;
}

a {
    color: #0329D6;
    text-decoration: underline;
}

a:visited {
    color: #0329D6;
}

a:hover {
    color: #D81F00; 
    text-decoration: underline;
}

a.content-color {
    color: #584D4D;
    text-decoration: underline;
}

a:visited.content-color {
    color: #584D4D;
}

a:hover.content-color {
    color: #D81F00; 
    text-decoration: underline;
}

#page-wrapper {
    text-align: center;
}

#page-center {
    width: 940px;
    margin: 0px auto;
    overflow: hidden;
    text-align: left;
}

#page-header {
    height: 94px;
    width: 940px;
}

#page-footer {
    clear: both;
    height: 94px;
    width: 940px;
}

#page-body {
    padding: 0px 46px 0px 44px;
}

/* Widgets */

.widget-boldchat {
    position: absolute;
    width: 130px;
    height: 42px;
    margin: 8px 0 0 760px;
}

.widget-boldchat iframe {
    width: 100%;
    height: 100%;
}

.widget-boldvisitormonitor {
    width: 192px;
    height: 90px;
    position: absolute;
    margin: -16px 0 0 565px;   
}

.widget-boldvisitormonitor iframe {
    width: 100%;
    height: 100%;
}

/* Menu */

div.page-navigation-menu.vertical {
    padding-left: 45px;
}

div.page-navigation-menu.vertical div.menu-separator{
    height: 9px;
}

div.page-navigation-menu.vertical .menu-section-title {
    color: #AB1600;
    font-family: 'Verdana-Bold','Verdana',sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}

div.page-navigation-menu.vertical ul {
    font-size: 11px;
    list-style: none;
    padding: 0;
    margin: 0 0 8px 17px;
}

div.page-navigation-menu.vertical ul li {
    padding: 3px 0 0 12px;
    height: 14px;
}

div.page-navigation-menu.vertical ul.triangle-bullet-list li {
    background: url(/Media/Images/menu_bullet_triangle.gif) no-repeat 1px 7px;
}

div.page-navigation-menu.vertical ul.sun-bullet-list li {
    background: url(/Media/Images/menu_bullet_sun.gif) no-repeat 0px 8px !important;
}

div.page-navigation-menu.vertical ul li a {
    color: #000000 !important;
    text-decoration: none; 
    font-weight: normal;
}

div.page-navigation-menu.vertical ul li a:hover {
    color: #D81E00 !important;
    text-decoration: underline !important;
    font-weight: normal;
}

div.page-navigation-menu.horizontal {
    color: #000000 !important;
    margin: 1px 33px 0 0;
    position: absolute;
    font-family: 'Verdana',sans-serif;
    font-size: 11px;
    width: 824px;
    text-align: right;
}

div.page-navigation-menu.horizontal a {
    color: #000000 !important;
    font-size: 12px !important;
    font-family: 'ArialMT','Arial',sans-serif;
    text-decoration: none; 
    font-weight: normal;
}

div.page-navigation-menu.horizontal a:hover {
    color: #D81E00 !important;
    text-decoration: underline !important;
    font-weight: normal;
}

.global-navigation-menu {
    position: absolute;
    margin: 49px 0 0 488px;
}

.global-navigation-menu div.page-navigation-menu {
    color: #FFFFFF !important;
    font-family: 'Verdana','sans-serif' !important;
    font-size: 11px !important;
    height: 13px;
    width: 400px;
    text-align: right;
    margin: 0 !important;
}

.global-navigation-menu div.page-navigation-menu a {
    color: #FFFFFF !important;
    font-family: 'Verdana','sans-serif' !important;
    font-size: 11px !important;
    text-decoration: none; 
    font-weight: normal;
}

.global-navigation-menu div.page-navigation-menu a:visited {
    color: #FFFFFF !important;
    font-weight: normal;
}

.global-navigation-menu div.page-navigation-menu a:hover {
    color: #FFFC00 !important; 
    text-decoration: none; 
    font-weight: normal;
}

/* Content Layout */

.page-content {
    padding: 23px 41px 23px 46px;
}

.page-content.content-right {
    padding: 23px 41px 23px 24px !important;
    float: right;
}

.page-content.content-left {
    padding: 23px 24px 23px 41px !important;
    float: left;
}

.page-content.content-small {
    width: 412px !important;
}

.page-content.content-medium {
    width: 510px !important;   
}

.page-content.content-large {
    width: 572px !important;
}

.page-side-content {
    padding: 23px 0;
}

.page-side-content.content-right {
    float: left;
}

.page-side-content.content-left {
    float: right;
}

.page-side-content.content-small {
    width: 370px !important;
}

.page-side-content.content-medium {
    width: 273px !important;
    
}

.page-side-content.content-large {
    width: 210px;
}

.page-side-content.content-right.border-separator {
    border-right: 1px solid #000000;
}

.page-side-content.content-left.border-separator {
    border-left: 1px solid #000000;
}

/*   */

.header-title-page {
    padding: 15px 35px 0 35px;
    /*color: #AB1600;*/
    color: #C1272D;
    font-family: 'Verdana-Bold','Verdana',sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0px 3px;
    letter-spacing: -0.05em;
}

.header-title-page .link-right {
    float:right;
    font-size: 15px;
    margin-top: 8px;
    letter-spacing: normal !important;
}

.header-title-page .link-right a {
    color: #584D4D;
    font-family: 'Verdana-Bold','Verdana',sans-serif;
    text-decoration: none;
}

.header-title-page .link-right a:hover {
    color: #D81E00;
    text-decoration: underline;
}

.header-title-page .small-text {
    font-size: 15px;
    font-weight: normal;
}

.separator-white,
.separator-black {
    margin: 0px;
    padding: 0px;
    height: 1px;
    background-color: #FFFFFF;
}

.separator-black {
    background-color: #000000 !important;
}

.separator-dotted {
    margin: 0px;
    padding: 0px;
    height: 1px;
    border-bottom: 1px dotted #000000;
}

.text-indent {
    text-indent: 15px;
}

.clear {
    clear: both;
    height: 1px;
}

/* Other */

.statement-of-faith-link {
    font-size: 12px;
}

.image-description {
    font-family: 'Verdana',sans-serif;
    font-size: 10px;
    margin: 10px 26px 25px 18px;
}

table.image-table td {
    text-align: right;
}

table.image-table td div {
    position: absolute;
    width: 186px;
    margin-top: 2px;
    text-align: right;
    font-size: 11px;
    color: #FFFFFF;
}

table.image-table .bottom-row {
    margin-top: 95px !important;
}

.driving-directions-list div.value {
    position: absolute;
    font-weight: 700;
    margin-left: 190px;
    width: 200px;
    text-align: right;
    display: table;
}

.fees-table {
    width: 470px;
    margin: 20px 0 20px 20px;
}

.fees-table .dots {
    background: url('/Media/Images/image_dot.gif') repeat-x 0px 75%;
    width: 100%;
    height: 100%;
    float:left;
}

.fees-table .field,
.fees-table .sub-field {
    background-color: #FFFFFF;
    padding-right: 3px;
    float: left;
}

.fees-table .sub-field {   
    padding-left: 32px;
}

.fees-table .price {
    color: #D81E00;
    background-color: #FFFFFF;
    padding-left: 5px;
    float: right;
}

.fees-table .bullet {
    background: url('/Media/Images/menu_bullet_triangle.gif') no-repeat 0 7px;
    width: 15px;
}

.fees-table .note {
    font-size: 11px;
    color: #584D4D;
}

.fees-table .separator {
    display: block;
    height: 15px;
}

#faculty-list {
    font-size: 12px;
    padding: 10px 0 0 13px;
    clear: both;
    line-height: 20px;
}

#faculty-list .item {
    margin-bottom: 40px;
}

#faculty-list .item .photo img {
    margin: 2px 0 0 0 !important;
}

#faculty-list .item .photo .reflected {
    margin: 1px 0 0 0 !important;
}

#faculty-list .item .photo {
    float:left;
}

#faculty-list .item .text {
    width: 369px;
    margin-left: 108px;
}

#faculty-list .item .text .name {
    color: #AB1500;
    font-family: 'Arial-Black','Arial Black',sans-serif;
    font-size: 18px;
    font-weight: 800;
}

#faculty-list .item .text .who {
    color: #584D4D;
    font-style: italic;
    line-height: 15px;
    padding: 3px 0;
}

#faculty-list .item .text .description{
    line-height: 17px;
    color: #000000;
    text-align: justify;
}

#contacts {
    width: 614px;
    float: right;
    margin-right: -40px;
}

#contacts .header {
    color: #0048AA;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    padding-bottom: 4px;
    clear: both;
}

#contacts .item {
    margin-top: 17px;
    clear: both;
    min-height: 75px;
}

#contacts .item img {
    float: left;
}

#contacts .item .description {
    float: right;
}

#contacts .item .description .name {
    font-size: 15px;
    font-weight: bold;
    padding-top: 1px;
}

#contacts .item .description .who {
    font-size: 13px;
    font-style: italic;
    padding-top: 2px;
}

#contacts .item .description .mail {
    font-size: 13px;
    padding-top: 2px;
}

#contacts .item .description .mail a {
    color: #584D4D;
    text-decoration: underline;
}

#contacts .item .description .mail a:hover {
    color: #000000;
}

#contacts .item .description .phone {
    font-size: 13px;
    padding-top: 2px;
}

#contacts .level1 .description {
    width: 531px;
}

#contacts .level2 {
    margin-top: 24px;
}

#contacts .level2 .description {
    width: 483px;
}

#contacts .level2 img {
    margin-left: 48px;
}

#contacts .last {
    margin-bottom: 49px;
}

/* Articles */

.articles-list .item {
    clear: both;
    border-bottom: 1px solid #000000;
    min-height: 120px;
    padding: 12px 0;
    font-size: 12px;
}

.articles-list .item .photo-overflow {
    width: 120px;
    overflow: hidden;
    float: left;
}

.articles-list .item .photo-overflow .photo-container {
    width: 400px;
    margin-left: -140px;
    text-align: center;
}

.articles-list .item .photo-overflow .photo-container img {
    height: 120px;
    display: block;
    margin: 0 auto;
}

.articles-list .item .description {
    padding-left: 132px;
}

.articles-list .item .description .header {
    font-size: 18px;
    font-weight: bold;
}

.articles-list .item .description .text {
    padding-top: 7px;
}

.articles-list .item .description .read-more {
    padding-top: 5px;
}

.articles-list .item .description .read-more a {
    font-size: 10px;
    text-decoration: underline;
}

.articles-list .last {
    border: none !important;
}

#article-content {
    background-color: #FFFFFF !important;
}

#article-content .date {
    padding: 7px 0 0 2px;
    font-size: 12px;
}

#article-content .school-news-logo {
    margin-left: 4px;
}

#article-content #photo-wall-left img {
    margin-bottom: 11px;
}

#article-content #photo-wall-left {
    width: 200px;
    float: left;
}

#article-content #photo-wall-left .description {
    font-size: 10px;
    
    color: #000000;
    margin-top: -8px;
    padding: 0 7px 11px 13px;
    line-height: 13px;
}

#article-content #content-right {
    float: right;
    width: 597px;
    padding-right: 35px;
}

#article-content #written-by {
    float: right;
    margin: 3px -20px 0 0;
    width: 199px;
}

#article-content #written-by .photo {
    width: 50px;
    float: left;
}

#article-content #written-by .photo .reflected {
    margin-top: 2px;
}

#article-content #written-by .description {
    font-size: 10px;
    width: 141px;
    float: right;
    line-height: 13px;
}

#article-content #written-by .description b,
#article-content #written-by .description strong {
    font-size: 12px;
    font-weight: bold;
    display: block;
}